{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/logo/logo-07.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  {% block script %}  {% endblock %}
  <title>Shout | {% block title %} {% endblock %}</title>
</head>
<body>
  <main>
    <header class="brand_header">
      <!-- LOGO -->
      <img src="{% static 'img/logo/logo-01.png' %}" alt="">
      <!-- NOTIFICATION -->
      <div class="brand_header__notification">
        <svg class="brand_header__notification__icon">
          <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-notifications-outline"></use>
        </svg>
        <p>แจ้งเตือน</p>
      </div>      
    </header>
    <section class="brand_sidebar">
      <div class="brand_sidebar__top">
        <p class="brand_sidebar__text">MENU</p>
        {% if request.path == '/brands/' %}
          <a href="{% url 'brand__index' %}" class="brand_sidebar__menu brand_sidebar__selected">
            <svg class="brand_sidebar__icon">
              <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-home"></use>
            </svg>
            <span>หน้าหลัก</span>
          </a>
        {% else %}
        <a href="{% url 'brand__index' %}" class="brand_sidebar__menu">
          <svg class="brand_sidebar__icon">
            <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-home"></use>
          </svg>
          <span>หน้าหลัก</span>
        </a>
        {% endif %}
        {% if '/campaigns/' in request.path %}
          <a href="{% url 'campaign_draft' %}" class="brand_sidebar__menu brand_sidebar__selected">
            <svg class="brand_sidebar__icon">
              <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-bullhorn"></use>
            </svg>
            <span>แคมเปญของคุณ</span>
          </a>
        {% else %}
          <a href="{% url 'campaign_draft' %}" class="brand_sidebar__menu">
            <svg class="brand_sidebar__icon">
              <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-bullhorn"></use>
            </svg>
            <span>แคมเปญของคุณ</span>
          </a>
        {% endif %}
        {% if '/brands/settings/' in request.path %}
          <a href="{% url 'brand__setttings' %}" class="brand_sidebar__menu brand_sidebar__selected">
            <svg class="brand_sidebar__icon">
              <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-cog"></use>
            </svg>
            <span>ตั้งค่า</span>
          </a>
        {% else %}
          <a href="{% url 'brand__setttings' %}" class="brand_sidebar__menu">
            <svg class="brand_sidebar__icon">
              <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-cog"></use>
            </svg>
            <span>ตั้งค่า</span>
          </a>
        {% endif %}
      </div>
      <div class="brand_sidebar__bottom">
        <a href="{% url 'logout' %}" class="brand_sidebar__menu">
          <svg class="brand_sidebar__icon">
            <use xlink:href="{% static 'img/brands/sprite.svg' %}#icon-exit"></use>
          </svg>
          <span>ออกจากระบบ</span>
        </a>        
      </div>
    </section>
    <section class="brand_content">
      {% block content %} {% endblock %}
    </section>
  </main>
</body>
</html>