{% extends "brands/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} Your Campaign {% endblock %}
</head>
<body>
{% block content %}
  <section class="settings">
    <!-- Setting Left Side -->
    <div class="settings__left">
      <div class="campaign__card campaign__card__100h">
        <div class="settings__left__detail">
          <img src="{% static 'img/brands/temp__user__photo.png' %}" alt="">
          <h5>Jirapath B.</h5>
          <p>jirapth.bu@shoutsolution.com</p>
          <button class="w180 settings__button">เปลี่ยนรูปโปรไฟล์</button>
        </div>
      </div>
    </div>
    <!-- Setting Right Side (Change Password) -->
    <div class="settings__right" id="change__password">
      <div class="campaign__card campaign__card__100h">
        <h6>เปลี่ยนรหัสผ่าน</h6>
        <div class="settings__form">
          <form action="" method="POST">
            <!-- Old Password -->
            <div class="settings__form__flexcolumn">
              <label for="old_password">รหัสผ่านเดิม</label>
              <input class="h48" type="password" id="old_password" name="old_password">
            </div>
            <!-- Company -->
            <div class="settings__form__flexcolumn">
              <label for="new_password_1">รหัสผ่านใหม่</label>
              <input class="h48" type="password" id="new_password_1" name="new_password_1">
            </div>
            <!-- Position -->
            <div class="settings__form__flexcolumn">
              <label for="new_password_2">ยืนยันรหัสผ่านใหม่</label>
              <input class="h48" type="password" id="new_password_2" name="new_password_2">
            </div>
            <hr>
            <div class="settings__password">
              <p>ต้องการเปลี่ยนข้อมูลบัญชี</p>
              <a href="{% url 'brand__setttings' %}">
                <button class="w180 settings__button" type="button">เปลี่ยนข้อมูลบัญชี</button>
              </a>
            </div>
            <hr>
            <button class="w100pc btn__orange" type="submit">ยืนยัน</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
</body>
</html>