{% extends "brands/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} Home {% endblock %}
</head>
<body>
  {% block content %}
    <section class="campaign__index__uvp">

    </section>
    <!-- Index Detail -->
    <section class="campaign__index__detail">
      <!-- ประมาณการผลลัพธ์แคมเปญด้วยงบการตลาด -->
      <div class="campaign__index__detail__left">
        <p class="campaign__index__detail__left__header">ประมาณการผลลัพธ์แคมเปญด้วยงบการตลาด</p>
        <div class="campaign__card">
          <p>testsetst</p>
        </div>
      </div>
      <!-- ตัวอย่างแคมเปญ -->
      <div class="campaign__index__detail__right">
        <p class="campaign__index__detail__right__header">ตัวอย่างแคมเปญ</p>
        <div class="campaign__card">
          <p>testsetst</p>
        </div>
      </div> 
    </section>
    <!-- Index Footer -->
    <section class="campaign___index__footer">
      <p class="campaign__index__footer__header">ตัวอย่าง Shouter</p>
      <div class="campaign__card">
        <p>testsetst</p>
      </div>
    </section>
  {% endblock %}
</body>
</html>