{% extends "brands/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- J query -->
  {% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="{% static 'js/brands/settings.js' %}"></script>
  <script src="{% static 'js/utils/messages.js' %}"></script>
  {% endblock %}
  {% block title %} Settings {% endblock %}
</head>
<body>
{% block content %}
  <section class="settings">
    <!-- Setting Left Side -->
    <div class="settings__left">
      <div class="campaign__card campaign__card__100h">
        <div class="settings__left__detail">
          <img src="{% static 'img/brands/temp__user__photo.png' %}" alt="">
          <h5>{{ brand.first_name }}</h5>
          <p>{{ brand.email}}</p>
{#          <button class="w180 settings__button">เปลี่ยนรูปโปรไฟล์</button>#}
        </div>
      </div>
    </div>
    <!-- Setting Right Side (Default) -->
    <div class="settings__right" id="default">
      <div class="campaign__card campaign__card__100h">
        <h6>ข้อมูลบัญชี</h6>
        <div class="settings__form">
          <form action="{% url 'brand__setttings' %}" method="POST" id="change_profile"> {% csrf_token %}
            <div class="settings__form__2column">
              <div class="settings__form__flexcolumn width50">
                <!-- First Name -->
                <label for="first_name">First Name</label>
                <input class="h48" type="text" id="first_name" name="first_name" value="{{ brand.first_name }}">
              </div>
              <div class="settings__form__flexcolumn width50">
                <!-- Last Name -->
                <label for="last_name">Last Name</label>
                <input class="h48" type="text" id="last_name" name="last_name" value="{{ brand.last_name }}">
              </div>
            </div>
            <!-- Phone Number -->
            <div class="settings__form__flexcolumn">
              <label for="tel">Phone Number</label>
              <input class="h48" type="tel" id="tel" name="tel" value="{{ brand.tel }}">
            </div>
            <!-- Company -->
            <div class="settings__form__flexcolumn">
              <label for="company">Company</label>
              <input class="h48" type="text" id="company" name="company" value="{{ brand.company }}">
            </div>
            <!-- Position -->
            <div class="settings__form__flexcolumn">
              <label for="position">Position</label>
              <input class="h48" type="text" id="position" name="position" value="{{ brand.position }}">
            </div>
            <hr>
            <!-- Change password -->
            <div class="settings__password">
              <p>ต้องการเปลี่ยนรหัสผ่าน</p>
              <a href="{% url 'brand__setttings_change_password' %}">
                <button class="w180 settings__button" type="button">เปลี่ยนรหัสผ่าน</button>
              </a>
            </div>
            <hr>
            {% include 'partials/_alerts.html' %}
            <button class="w100pc btn__orange" type="submit">ยืนยัน</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
</body>
</html>