{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/logo/logo-07.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Shout | Change Password</title>
</head>
<body>
  <section class="change_password">
    <div class="login__right__card change_password__card">
      <h5>เปลี่ยนรหัสผ่าน</h5>
      <form action="{% url 'change_password' token %}" method="post"> {% csrf_token %}
        {% if message %}
          <div class="login__error">
            <img src="{% static 'img/accounts/error.png' %}" alt="">
            <p>{{message}}</p>
          </div>
        {% endif %}
        <div class="login__input">
          <!-- Password 1 -->
          <label for="password_1">รหัสผ่านใหม่</label>
          <input type="password" required id="password_1" name="password_1" placeholder="กรอกรหัสผ่านใหม่">  
          <!-- Password 2 -->
          <label for="password_2">ยืนยันรหัสผ่านใหม่</label>
          <input type="password" required id="password_2" name="password_2" placeholder="กรอกรหัสผ่านใหม่">           
          <button class="btn__orange" type="submit">ยืนยัน &#8594;</button>
        </div>
        {% include 'partials/_alerts.html' %}
      </form>
    </div>
  </section>
</body>
</html>