{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %}">

    <!-- Title -->
    <title>Shout | Register</title>
</head>

<!-- Body -->
<body>
    <section>
        <div class="area-main">

            <!-- Left Side area -->
            <div class="area-left">
                <div class="area-left-img">
                    <img src="{% static 'accounts/images/Regis.png' %}" alt="">
                </div>
{#                <div class="area-left-content">#}
{#                    <h1 class="mb-0">New Generation</h1>#}
{#                    <h1 style="margin-top: -15px;">of Marketing</h1>#}
{#                    <p>Shout your brand to customers easily, quickly, and efficiently !</p>#}
{#                </div>#}
            </div>

            <!-- Right Side area -->
            <div class="area-right">
                <div class="area-right-content">
                    <h1 class="text-white mb-0">Create Marketer Account</h1>
                    <p class="text-white mb-4">สร้างบัญชีนักการตลาดของคุณเพื่อเข้าใช้งาน</p>

                    <div class="card-content">
                        <form action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <div class="row text-form">

                                <!-- FIRST NAME -->
                                <div class="col-3 mb-3">
                                    <label class="mb-2" for="first_name">First name<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="text" required id="first_name" name="first_name">
                                </div>

                                <!-- LAST NAME -->
                                <div class="col-3 mb-3">
                                    <label class="mb-2" for="last_name">Last name<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="text" required id="last_name" name="last_name">
                                </div>

                                <!-- EMAIL ADDRESS -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="email">Email<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="email" required id="email" name="email">
                                </div>

                                <!-- PHONE NUMBER -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="phone">Phone number<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="text" required id="phone" name="phone">
                                </div>

                                <!-- PASSWORD -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="password_1">Password<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="password" required id="password_1" name="password_1">
                                </div>

                                <!-- COMPANY -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="company">Company<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="text" required id="company" name="company">
                                </div>

                                <!-- CONFIRM PASSWORD -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="password_2">Confirm password<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="password" required id="password_2" name="password_2">

                                </div>

                                <!-- POSITION -->
                                <div class="col-6 mb-3">
                                    <label class="mb-2" for="position">Position<sup class="text-danger ms-1">*</sup></label>
                                    <!-- BOX -->
                                    <input class="form-control" type="text" required id="position" name="position">
                                </div>

                                <!-- AGREE AND SIGN UP -->
                                <div class="col-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="agree_policy">
                                        <label for="agree_policy" style="font-size: 16px">I agree to Terms & conditions and Privacy policy</label>
                                    </div>
                                    <button class="btn btn-primary d-block w-100 mt-3" type="submit" style="background: #F15626; border: #F15626;">Sign up</button>
                                </div>

                            </div>
                        </form>

                    </div>
                    <p class="text-white mt-4 mb-4" style="text-align: right">มีบัญชีอยู่แล้ว? <a href="{% url 'login' %}" style="color: orange">Log in</a></p>

                </div>
            </div>
        </div>
    </section>

</body>