{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'src/logoV2/Shout_Logov2-07.png' %}">
	<link rel="stylesheet" href="{% static 'pages/css/main.css' %}">
	<title>Shout | แพลตฟอร์มทำการตลาดบอกต่อผ่านคนตัวเล็กง่ายๆ</title>
</head>
<body>

	<header class="main-header">
        <div>
            <a href="#" class="main-header__brand">
                <img src="{% static 'src/logoV2/Shout_Logov2-01.png' %}" alt="">
            </a>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                    <a href="#koc">What's KOC</a>
                </li>
                <li class="main-nav__item">
                    <a href="#why-shout">Why Shout</a>
                </li>
                <li class="main-nav__item">
                    <a href="#our-solution">How it works</a>
                </li>
                <li class="main-nav__item">
                    <a href="#contact-us">Contact us</a>
                </li>
                <li class="main-nav__item main-nav__item--cta--white">
                    <a href="{% url 'login' %}">เข้าสู่ระบบ</a>
                </li>
                <li class="main-nav__item main-nav__item--cta--orange">
                    <a href="#">เริ่มเลย</a>
                </li>
            </ul>
        </nav>
    </header>

	<main>
		<section id="website-uvp">
			<div class="website-uvp__main__left">
				<h1 class="website-uvp__main__left__top">ทำการตลาดบอกต่อผ่าน</h1>
				<h1 class="website-uvp__main__left__bottom">คนตัวเล็กจำนวนมากได้ง่ายๆ</h1>
                <p><span>Shout - แพลตฟอร์ม</span> ที่ทำให้คุณเข้าถึงกลุ่มลูกค้าอย่างใกล้ชิด แม่นยำ</p>
				<p>และเพิ่มยอดขายได้มากกว่าเดิม ตั้งแต่เริ่มจนจบทำได้ด้วยตัวคุณเอง</p>
				<div class="website-uvp__sub__button">
					<a class="website-uvp__sub__register" href="#">เริ่มเลย!</a>
					<a class="website-uvp__sub__extra" href="#">ดูเพิ่มเติม</a>
				</div>
                <p class="website-uvp__sub__shouter__top">ติดต่อเรา 087-560-4935 / contact@shoutsolution.com</p>
                <p class="website-uvp__sub__shouter__bottom">หรือสนใจมาร่วมเป็น Shouter (ผู้บอกต่อ) กับเรา? <a href="#">สมัครที่นี่</a></p>
			</div>
			<div class="website-uvp__main__right">
                <img src="{% static 'pages/images/UVP-3.png' %}" alt="">
			</div>
		</section>
        <section id="koc">
            <h1 class="koc__header">ทำไมต้อง คนตัวเล็ก?</h1>
            <h1 class="koc__sub_header">(Key Opinion Customer)</h1>
            <div class="koc__container">
                <div class="koc__block koc__block__left">
                    <div>
                        <img src="{% static 'pages/images/Sec2_01.png' %}" alt="">
                    </div>
                    <div>
                        <h2 class="koc__topic">ผู้บริโภคไม่ได้เชื่อ Influencer อีกต่อไป</h2>
                        <p>93% ของผู้บริโภคมีแนวโน้มที่จะเชื่อถือ และสนใจคอนเทนท์ที่มาจาก KOC เพราะคอนเทนท์จะมีความเป็นธรรมชาติ และความใกล้ชิด เข้าถึงได้ทำให้เกิด Interaction พูดคุย ระหว่าง KOC กับผู้บริโภคมากกว่า เมื่อเทียบกับ KOL หรือ Macro - Influencer ที่มีความห่างไกลตัว และคอนเทนท์ที่ Tie-in โฆษณาสูง</p>
                    </div>
                </div>
                <div class="koc__block koc__block__right">
                    <div>
                        <img src="{% static 'pages/images/Sec2_02.png' %}" alt="">
                    </div>
                    <div>
                        <h2 class="koc__topic">Cost Effective</h2>
                        <p>การโปรโมทผ่าน KOC : Micro - Nano - Peers Influencer มีค่าใช้จ่ายที่น้อยกว่า เพราะไม่ต้อง ใช้ไปกับการ Production ที่ยิ่งใหญ่ ขายของเกินไปแต่ไม่เป็นธรรมชาติ</p>
                    </div>
            </div>
                <div class="koc__block koc__block__left">
                    <div>
                        <h2 class="koc__topic">ได้คนมากกว่า แต่งบเท่าเดิม</h2>
                        <p>ได้จำนวนคนบอกต่อ โปรโมทสินค้าที่มากกว่า เมื่อเทียบกับการทำ KOL Marketing และ KOC Marketing ส่งผลต่อการที่ทำให้เกิด Trending ที่ดึงดูดความสนใจผู้บริโภคมากขึ้น ด้วยงบการตลาดที่เท่ากัน</p>
                    </div>
                    <div>
                        <img src="{% static 'pages/images/Sec2_03.png' %}" alt="">
                    </div>
                </div>
                <div class="koc__block koc__block__right">
                    <div class="koc__block__right">
                        <h2 class="koc__topic">ปลอดภัยต่อภาพลักษณ์ แบรนด์</h2>
                        <p>ปลอดภัยในภาพลักษณ์ของแบรนด์ ไม่ต้องห่วงเรื่องข่าวด้านลบของ KOC เพราะมีฐาน Followers (ผู้ติดตาม) ไม่สูง ทำให้มักจะไม่เกิดเรื่องดราม่าต่างๆ เมื่อเทียบกับ KOL</p>
                    </div>
                    <div>
                        <img src="{% static 'pages/images/Sec2_04.png' %}" alt="">
                    </div>
                </div>
            </div>
		</section>
		<section id="why-shout">
            <h1 class="why-shout__header">Why Shout?</h1>
			<div class="why-shout__container">
                <div class="why-shout__block why-shout__block__left">
                    <img src="{% static 'pages/images/why_shout_1.png' %}" alt="">
                    <h2 class="why-shout__topic">เริ่มต้น ยัน วัดผล</h2>
                    <h2 class="why-shout__topic">จบในที่เดียว!</h2>
                    <p>วางแผน - เลือกคน - จัดการ - ตรวจงาน - วัดผลแคมเปญครบบนแพลตฟอร์มง่ายๆ ด้วย Data-Driven Marketing คุณคนเดียวก็ทำได้!</p>
                </div>
                <div class="why-shout__block">
                    <img src="{% static 'pages/images/why_shout_2.png' %}" alt="">
                    <h2 class="why-shout__topic">No Agency Fees,</h2>
                    <h2 class="why-shout__topic">No Management Fees</h2>
                    <p>ไม่มีค่าธรรมเนียมเอเจนซี่, ไม่มีค่าธรรมเนียมการ จัดการ, ทุกบาท ทุกสตางค์ ถูกใช้ไปกับการสร้าง Earned Media เพื่อประสิทธิภาพของ ต้นทุนการตลาดสูงสุด (ROI)</p>
                </div>
                <div class="why-shout__block why-shout__block__right">
                    <img src="{% static 'pages/images/why_shout_3.png' %}" alt="">
                    <h2 class="why-shout__topic">KPI Guaranteed</h2>
                    <p>การันตียอดการเข้าถึงกลุ่มลุกค้า (Organic Reach) ตามงบการตลาด ให้คุณได้หมดห่วง</p>
                </div>
			</div>
		</section>

		<section id="our-solution">
            <h1 class="our-solution__header">How Shout! Works</h1>
			<div class="our-solution__container">
                <!-- Solution 1 -->
                <div class="our-solution__block">
                    <img src="{% static 'pages/images/Sec4_01.png' %}" alt="">
                </div>
                <div class="our-solution__block">
                    <h3 class="our-solution__topic">Campaign Planning</h3>
					<p>สร้างและวางแผนแคมเปญได้ง่ายๆ เพียงแค่ระบุข้อมุล กลุ่มลูกค้า (Target Audience), งบการตลาด (Media Budget), ยอดเป้าหมายการเข้าถึงลูกค้า (Target Reach), ประเภทงานที่ต้องการ (Content Type), และรายละเอียดงานต่างๆ (Brief) ตามรูปแบบที่แพลตฟอร์มได้ออกแบบเตรียมไว้ให้ เพื่อประสิทธิภาพในการบอกต่อสูงสุด</p>
					<a class="our-solution__register" href="#">สมัครเลย</a>
                </div>

                <!-- Solution 2 -->
                <div class="our-solution__block">
                    <h3 class="our-solution__topic">Shouter Selection</h3>
                    <p>แพลตฟอร์มจะคัดเลือก Shouter (ผู้บอกต่อ) ที่จะมาเป็นตัวแทนกระบอกเสียง ให้กับแบรนด์ของคุณในทันที โดยจะดูจาก:</p>
					<ul>
                        <li>
							กลุ่มเป้าหมาย (Target Audience)
                        </li>
                        <li>
							มี Media Performance ที่ดีและสูง
						</li>
						<li>
							เหมาะสมกับแคมเปญของคุณที่สุด จากระบบ Shouter Matching Score ที่คำนวณมาจากข้อมูลเชิงลึก (Insight)
						</li>
                    </ul>

                    <a class="our-solution__register" href="#">สมัครเลย</a>
                </div>
                <div class="our-solution__block">
                    <img src="{% static 'pages/images/Sec4_02.png' %}" alt="">
                </div>

                <!-- Solution 3 -->
                <div class="our-solution__block">
                    <img src="{% static 'pages/images/Sec4_03.png' %}" alt="">
                </div>
                <div class="our-solution__block">
                    <h3 class="our-solution__topic">Campaign Management</h3>
					<p>บริหารจัดการแคมเปญได้อย่างง่ายดาย ตรวจสอบภาพรวม สถานะการทำงานต่างๆของ Shouter (ผู้บอกต่อ) และตรวจงาน Approve งานผ่านระบบโดยไม่ต้องพูดคุยให้ยุ่งยาก</p>
					<a class="our-solution__register" href="#">สมัครเลย</a>
                </div>

                <!-- Solution 4 -->
                <div class="our-solution__block">
                    <h3 class="our-solution__topic">Realtime Dashboard</h3>
					<p>ตรวจสอบผลลัพธ์แคมเปญได้อย่างเรียลไทม์ อยากดูเมื่อไหร่ก็ดูได้ ไม่ว่าจะเป็น งานที่โพสท์แล้ว (Launched Work), ยอดการเข้าถึง (Organic Reach), การมีส่วนร่วม (Engagement), จำนวนครั้งการมองเห็น (Impression), จำนวนครั้งการคลิ๊ก (Traffic) และอื่นๆได้อย่างง่ายดาย ไม่ต้องขอและรอ Report เป็นเดือนๆให้เสียเวลา</p>
					<a class="our-solution__register" href="#">สมัครเลย</a>
                </div>
                <div class="our-solution__block">
                    <img src="{% static 'pages/images/Sec4_04.png' %}" alt="">
                </div>

			</div>
		</section>
        <section id="contact-us">
            <div class="contact-us__container">
                <div class="contact-us__left">
                    <h1>เริ่ม Shout! เลยวันนี้</h1>
                    <h3>สร้าง Earned media ผ่าน Shouter (ผู้บอกต่อ) ได้ง่ายๆด้วยตัวคุณเอง</h3>
                </div>
                <div class="contact-us__right">
                    <ul class="main-nav__items">
                        <li class="main-nav__item main-nav__item--cta--orange">
                            <a href="#">เริ่มเลย!</a>
                        </li>
                        <li class="main-nav__item main-nav__item--cta--white">
                            <a href="#">ติดต่อเรา</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
	</main>

	<footer>
        <div class="footer__container">
            <div class="footer__left">
                <img src="{% static 'src/logoV2/Shout_Logov2-02.png' %}" alt="">
                <p>บริษัท เชาท์ พีทูพี จำกัด / Shout P2P Company Limited</p>
                <p>29 ซอยเพชรเกษม 60/3 บางด้วน ภาษีเจริญ 10160 ประเทศไทย</p>
                <br>
                <p>087-560-4935</p>
                <br>
                <p>contact@shoutsolution.com</p>
                <br>
                <p>© 2021 Shout Solution. All rights reserved.</p>
            </div>
            <div class="footer__right">
                <ul>
                    <li class="footer__item">
                        <a href="">What's KOC</a>
                    </li>
                    <li class="footer__item">
                        <a href="">Why Shout</a>
                    </li>
                    <li class="footer__item">
                        <a href="">How it works</a>
                    </li>
                </ul>
                <br>
                <p>Terms and Conditions   |   Privacy Policy</p>
            </div>
        </div>

	</footer>

    <script src="{% static 'pages/js/main.js' %}"></script>
</body>
</html>
