/*------------------------ Font ------------------------*/
@font-face {
    src: url("../../src/fonts/FC Minimal Regular.ttf");
    font-family: 'minimal';
}

@font-face {
    src: url("../../src/fonts/FC Minimal Bold.ttf");
    font-family: 'minimal_b';
}

/*------------------------ Main ------------------------*/
html {
	font-size: 18px;
}

body {
	font-family: 'minimal', sans-serif;
    color: #002257;
}

footer {
    background: #2C2C2C;
}

footer img {
    padding: 2rem;
    width: 100vw;
}

.text-small {
    font-size: 0.7rem;
}

.minimal-bold {
    font-family: 'minimal_b', sans-serif;
}

.gradient-color {
    background: -webkit-linear-gradient(180deg, #792D67 0%, #362156 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

select {
    padding: 0.5rem;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

.text-violet {
    color: #58285F;
}

.text-violet-bright {
    color: #801B69;
}

.register-photo img {
    height: 10rem;
}

.rectangle-blue-background {
    background: rgba(77, 130, 243, 0.1);
    padding: 1rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.pl-0 {
    padding-left: 0;
}

.pl-05 {
    padding-left: 0.5rem;
}

.pr-05 {
    padding-right: 0.5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.pr-3 {
    padding-right: 3rem;
}

.padding-all-0 {
    padding: 0;
}

.padding-1 {
    padding: 0 2rem;
}

.primary-section {
    padding: 2rem 0;
}

.secondary-section {
    background: #F8F0F6;
    padding: 2rem 0;
}

.padding-all-1 {
    padding: 1rem;
}

.padding-all-15 {
    padding: 1.5rem;
}

.padding-all-2 {
    padding: 2rem;
}

.violet-background {
    background: #58285F;
}

.violet-section {
    background: #58285F;
    padding: 2rem 0;
}

.main-header img {
    height: 3rem;
}

.uvp-img img {
    width: 100vw;
}

#padding-0 {
    padding: 3rem 0 0;
}

.line-button > a {
    padding: 0.6rem 5rem;
    color: white;
    background: #00B900;
    text-decoration: none;
    border-radius: 8px;
}

.line-button > p {
    padding-top: 0.5rem;
}

.information img {
    width: 100vw;
    padding: 0 2rem;
}

nav img {
    height: 3rem;
}

.offset-margin {
    padding-top: 3rem;
}

.img-width-100vw img {
    width: 100vw;
}

.temp-photo {
    position: relative;
    padding: 3rem;
    border-radius: 50%;
    background: grey;
    width: 3rem;
    left: calc(50% - 3rem);
}

.education-dropdown {
    padding:0.5rem 6rem;
    text-align: left;
}

/*.interest-body {*/
/*    display: flex;*/
/*}*/

.interest-body input[type='radio'] {
    -webkit-appearance: none;
}

.interest-body label {
    position: relative;
    margin: auto auto 0.5rem;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border: 1px solid #E9EBF1 ;
}

.interest-body input[type='radio']:checked + label {
    background: #F8F0F6;
    border: 1px solid #C382B4;
}

.contain-submit-button {
    margin: 2rem 0;
}

.submit-button {
    padding: 0.8rem 6rem;
    background: #F37324;
    color: white;
    border-radius: 8px;
    border: 0;
    text-decoration: none;
    margin-bottom: 1rem;
}

.contain-next-button {
    margin: 2rem 0;

}

.next-button {
    padding: 1rem 6rem;
    background: white;
    color: #801B69;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 3px 6px rgba(80, 53, 89, 0.1);
    text-decoration: none;
    font-family: minimal_b, sans-serif;
}

.next-button-2 {
    padding: 1rem 2rem;
    background: white;
    color: #801B69;
    border-radius: 8px;
    border: 0;
    box-shadow: 0 3px 6px rgba(80, 53, 89, 0.1);
    text-decoration: none;
    font-family: minimal_b, sans-serif;
}

/* ---------------------------------------------------------- */
/*.select {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  gap: 5px;*/
/*}*/

.select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.select__item {
  padding: 10px;
    margin: 5px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background: white;
  transition: background 0.1s;
    border: 1px solid #E9EBF1;
}

.select__item--selected {
  background: #F8F0F6;
    border: 1px solid #C382B4;
}
/* ---------------------------------------------------------- */

@media screen and (min-width: 700px){
    .img-width-100vw img {
        width: 50vw;
        position: relative;
        left: calc(50% - 25vw);
    }
    .img-width-100vw {
        background: #F8F8F8;
    }
}

@media screen and (min-width: 1400px){
    .img-width-100vw img {
        width: 30vw;
        position: relative;
        left: calc(50% - 15vw);
    }
    .img-width-100vw {
        background: #F8F8F8;
    }
}

