/*------------------------ Font ------------------------*/
@font-face {
    src: url("../../src/fonts/FC Minimal Regular.ttf");
    font-family: 'minimal';
}

@font-face {
    src: url("../../src/fonts/FC Minimal Bold.ttf");
    font-family: 'minimal_b';
}
/*------------------------ Main ------------------------*/
body {
	margin: 0;
	font-family: 'minimal', sans-serif;
	font-size: 18px;
}

h1 {
	font-size: 4.2rem;
}

@media screen and (max-width: 1200px){
	h1 {
		font-size: 3rem;
	}
}

@media screen and (max-width: 992px){
	h1 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 768px){
	h1 {
		font-size: 2rem;
	}
}

/*------------------------ Option class ------------------------*/
.minimal_b {
	font-family: minimal_b, sans-serif;
}

.text-violet-gradient {
	background: -webkit-linear-gradient(180deg, #792D67 0%, #362156 100%);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}


/*------------------------ Attribute ------------------------*/

.website-uvp__sub__button {
	margin-top: 2rem;
}

.website-uvp__sub__register {
	text-decoration: none;
	padding: 0.5rem 2rem;
	background: #F37324;
	margin-right: 1rem;
	color: white;
	border-radius: 8px;
	font-size: 1rem;
}

.website-uvp__sub__extra {
	text-decoration: none;
	padding: 0.5rem 2rem;
	margin-right: 1rem;
	color: #F37324;
	border: 1px solid #F37324;
	border-radius: 8px;
	font-size: 1rem;
}

/*.website-uvp__sub__shouter__top {*/
/*	position: absolute;*/
/*	bottom: 5%;*/
/*	left: 6rem;*/
/*	font-size: 1rem;*/
/*}*/

/*.website-uvp__sub__shouter__bottom {*/
/*	position: absolute;*/
/*	bottom: 2%;*/
/*	left: 6rem;*/
/*	font-size: 1rem;*/
/*}*/

.website-uvp__sub__shouter__bottom a {
	color: #F37324;
}

.navbar {
	padding: 0 5rem;
}

@media (max-width: 450px){
	.navbar {
		padding: 0 2rem;
	}
}

/* ------------------------- a Button -------------------------*/
.main-nav__items {
	padding: 0;
	margin: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
	padding: 0 0.5rem;
}

.main-nav__item a {
	text-decoration: none;
	color: #002257;
	padding: 0.2rem 0;
	font-size: 1rem;
}

.main-nav__item a:hover {
	color: #F37324;
	border-bottom: 3px solid #F37324;
}

.main-nav__item--cta--orange a {
	color: white;
	background: #F37324;
	padding: 0.4rem 1.5rem;
	border-radius: 8px;
}

.main-nav__item--cta--orange a:hover {
	color: #F37324;
	background: white;
	border-radius: 8px;
	border: 2px solid #F37324;
	font-family: 'minimal_b', sans-serif;
}

.main-nav__item--cta--white a {
	background: white;
	padding: 0.4rem 1.5rem;
	border-radius: 8px;
	border: 1px solid #F37324;
	color: #F37324;
}

.main-nav__item--cta--white a:hover {
	border: 2px solid #F37324;
	font-family: 'minimal_b', sans-serif;
}
