@font-face {
  src: url("../../src/fonts/FC Minimal Regular.ttf");
  font-family: 'minimal'; }

@font-face {
  src: url("../../src/fonts/FC Minimal Bold.ttf");
  font-family: 'minimal_bold'; }

:root {
  --color-primary: #801B69;
  --color-primary-light: #F8F0F6;
  --color-primary-dark: #58285F;
  --color-secondary: #F37324;
  --color-secondary-light: #FDE3DC;
  --color-secondary-dark: #F15626;
  --color-main-gradient: linear-gradient(180deg, #792D67 0%, #362156 100%);
  --color-neutral-dark: #2C2C2C;
  --color-text-main: #002257;
  --color-text-white: #fff;
  --color-text-black: #000;
  --color-background-pink: rgba(248, 240, 246, 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 90.625em) {
    html {
      font-size: 55%; } }
  @media screen and (max-width: 78.125em) {
    html {
      font-size: 42%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 30%; } }

body {
  font-family: 'minimal', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-main);
  min-height: 100vh; }

.btn {
  padding: 1.2rem 5.5rem;
  display: inline-block;
  border-radius: 8px;
  margin-right: 1.6rem;
  font-size: 2rem;
  font-family: minimal_bold, sans-serif;
  text-decoration: none; }
  .btn-main {
    background-color: var(--color-secondary);
    color: var(--color-text-white); }
  .btn-sub {
    background-color: #ffffff;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary); }

.logo {
  height: 7rem; }

.user-nav__items {
  display: flex;
  list-style: none;
  align-items: center; }

.user-nav__link:link, .user-nav__link:visited {
  color: var(--color-text-main);
  text-decoration: none;
  padding: 0 1.5rem;
  display: flex;
  align-items: center; }

.user-nav__link:hover {
  color: var(--color-secondary-dark); }

.user-nav__icon {
  fill: var(--color-text-main);
  width: 2.5rem;
  height: 2.5rem;
  padding: .3rem; }

.container {
  max-width: 190rem;
  margin: auto; }

.footer {
  background: var(--color-neutral-dark);
  display: flex;
  justify-content: space-between;
  padding: 7rem 7rem;
  font-size: 2rem;
  color: var(--color-text-white); }
  @media screen and (max-width: 43.25em) {
    .footer {
      flex-direction: column;
      line-height: 2; } }
  .footer__right {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .footer__brand-logo {
    width: 30rem; }
  .footer__info {
    display: flex;
    align-items: center;
    margin: 2rem 0; }
  .footer__icon {
    width: 5rem;
    height: 5rem;
    margin-right: 3rem;
    fill: var(--color-secondary); }
  .footer__icon-white {
    width: 5rem;
    height: 5rem;
    fill: var(--color-text-white); }
  .footer__link {
    display: flex;
    flex-direction: column; }
    .footer__link > a {
      color: var(--color-text-white);
      text-decoration: none; }
  .footer__text-main {
    font-family: minimal_bold, sans-serif;
    display: block; }
  .footer__text-sub {
    display: block; }
  .footer__term-policy > a {
    color: var(--color-text-white);
    text-decoration: none; }

.header {
  font-size: 2rem;
  height: 7rem;
  display: flex;
  padding: 1rem 9.2rem;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 43.25em) {
    .header {
      flex-direction: column; } }

.uvp {
  margin-top: 5rem; }
  .uvp__content {
    display: flex;
    padding-left: 9.2rem; }
    @media screen and (max-width: 43.25em) {
      .uvp__content {
        flex-direction: column;
        align-items: center;
        padding-left: 0; } }
    .uvp__content__left {
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      @media screen and (max-width: 43.25em) {
        .uvp__content__left {
          order: 2;
          margin-right: 0;
          text-align: center; } }
      .uvp__content__left__main__top {
        font-size: 7.6rem;
        font-family: minimal_bold, sans-serif; }
      .uvp__content__left__main__bottom {
        font-size: 2.4rem; }
        .uvp__content__left__main__bottom > * {
          font-family: minimal_bold, sans-serif; }
      .uvp__content__left__sub {
        font-size: 2rem;
        padding: 3rem 0; }
        .uvp__content__left__sub__info > * {
          color: var(--color-primary);
          text-decoration: underline; }
    .uvp__content__right {
      flex: 0 0 50%;
      display: flex;
      justify-content: right; }
      .uvp__content__right__photo {
        width: 65rem; }
  .uvp__button {
    margin-top: 2rem; }

.koc {
  background-color: var(--color-background-pink);
  padding: 10rem 4rem; }
  .koc__header {
    font-size: 5.8rem;
    font-family: minimal_bold, sans-serif;
    text-align: center; }
  .koc__sub-header {
    font-size: 4rem;
    font-family: minimal, sans-serif;
    text-align: center; }
  .koc__content {
    display: flex;
    margin-top: 9.2rem;
    flex-wrap: wrap; }
    @media screen and (max-width: 43.25em) {
      .koc__content {
        flex-direction: column; } }
    .koc__content__item {
      flex: 0 0 50%;
      padding: 1.6rem;
      background: white;
      background-clip: content-box; }
    .koc__content__item-1 {
      display: flex; }
    .koc__content__item-2 {
      display: flex; }
    .koc__content__photo {
      width: 10rem;
      flex: 0 0 50%;
      padding: 6rem 2rem; }
      @media screen and (max-width: 43.25em) {
        .koc__content__photo {
          order: -1; } }
    .koc__content__detail {
      flex: 0 0 50%;
      padding: 6rem 2rem; }
      @media screen and (max-width: 43.25em) {
        .koc__content__detail {
          display: flex;
          justify-content: center;
          flex-direction: column; } }
      .koc__content__detail__header {
        font-size: 3.6rem;
        font-family: minimal_bold, sans-serif; }
      .koc__content__detail__text {
        font-size: 2rem; }

.why-shout {
  padding: 10rem 4rem; }
  .why-shout__header {
    font-size: 5.8rem;
    font-family: minimal_bold, sans-serif;
    text-align: center; }
  .why-shout__content {
    display: flex;
    padding: 7rem 10rem 0; }
    @media screen and (max-width: 43.25em) {
      .why-shout__content {
        flex-direction: column; } }
    .why-shout__content__item {
      flex: 0 0 33.3%;
      padding: 0 2.5rem;
      background-color: var(--color-background-pink);
      background-clip: content-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      @media screen and (max-width: 43.25em) {
        .why-shout__content__item {
          margin-bottom: 3rem; } }
      .why-shout__content__item__photo {
        width: 15rem;
        padding: 2rem; }
      .why-shout__content__item__header {
        font-size: 3.6rem;
        font-family: minimal_bold, sans-serif; }
      .why-shout__content__item__text {
        font-size: 2rem;
        padding: 2rem; }

.how-shout {
  background-color: var(--color-background-pink);
  padding: 10rem 4rem;
  min-height: 70rem; }
  .how-shout__header {
    font-size: 5.8rem;
    font-family: minimal_bold, sans-serif;
    text-align: center; }
  .how-shout__content {
    display: flex;
    flex-wrap: wrap; }
    .how-shout__content__item {
      display: flex;
      flex: 0 0 100%;
      align-items: center;
      padding: 4rem 2rem; }
      @media screen and (max-width: 43.25em) {
        .how-shout__content__item {
          flex-direction: column; } }
    .how-shout__content__photo {
      width: 20rem;
      flex: 0 0 50%;
      padding: 3rem; }
      @media screen and (max-width: 43.25em) {
        .how-shout__content__photo {
          width: 100%;
          order: -1; } }
    .how-shout__content__detail {
      flex: 0 0 50%;
      padding: 3rem; }
    .how-shout__content__header {
      font-size: 4.4rem;
      font-family: minimal_bold, sans-serif; }
    .how-shout__content__text {
      font-size: 2rem;
      padding: 2rem 0; }

.start-now {
  background-color: var(--color-primary-dark);
  padding: 7rem 7rem; }
  .start-now__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-white); }
    @media screen and (max-width: 43.25em) {
      .start-now__content {
        flex-direction: column; } }
    .start-now__content__main {
      font-size: 5.8rem;
      font-family: minimal_bold, sans-serif; }
    .start-now__content__sub {
      font-size: 2.8rem; }
      @media screen and (max-width: 43.25em) {
        .start-now__content__sub {
          margin-bottom: 2rem; } }
