@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #801B69;
  --color-primary-light: #F8F0F6;
  --color-primary-dark: #58285F;
  --color-secondary: #F37324;
  --color-secondary-light: #FDE3DC;
  --color-secondary-dark: #F15626;
  --color-main-gradient: linear-gradient(180deg, #792D67 0%, #362156 100%);
  --color-neutral-dark: #2C2C2C;
  --color-neutral-grey: #F8F8F8;
  --color-neutral-light: #656C83;
  --color-neutral-light-50oc: rgba(101, 108, 131, 0.5);
  --color-text-main: #002257;
  --color-text-white: #fff;
  --color-text-black: #000;
  --color-background-lightpink: rgba(248, 240, 246, 0.3);
  --border-grey-light: 1px solid #E9EBF1;
  --border-neutral-light: 1px solid rgba(101, 108, 131, 0.5);
  --background-facebook-button: #1778F2;
  --background-yellow-warning: rgba(255, 223, 137, 0.2);
  --background-line: #00B900;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, button, input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

@media screen and (max-width: 78.125em) {
  html, button, input {
    font-size: 13px;
  }
}

@media screen and (max-width: 59.375em) {
  html, button, input {
    font-size: 10px;
  }
}

@media screen and (max-width: 48em) {
  html, button, input {
    font-size: 16px;
  }
}

body, button, input, textarea {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-main);
  opacity: 0.99;
}

main {
  margin: auto;
}

@media screen and (max-width: 48em) {
  .desktop_view {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .mobile_view {
    display: none;
  }
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

.b {
  font-weight: 700;
  line-height: 1.6;
}

.r {
  font-weight: 400;
  line-height: 1.4;
}

.p1 {
  font-size: 1rem;
}

.p2 {
  font-size: 0.8rem;
}

.p3 {
  font-size: 0.64rem;
}

.mobile {
  width: 100%;
}

.mobile h1 {
  font-size: 7.625rem;
}

.mobile h2 {
  font-size: 6rem;
}

.mobile h3 {
  font-size: 5rem;
}

.mobile h4 {
  font-size: 4rem;
}

.mobile h5 {
  font-size: 3rem;
}

.mobile h6 {
  font-size: 2.5rem;
}

.mobile p {
  font-size: 2rem;
}

.mobile .p2 {
  font-size: 1.625rem;
}

.mobile .p3 {
  font-size: 1.25rem;
}

.mobile button {
  font-size: 2rem;
}

.text-purple-gradient {
  background: -webkit-linear-gradient(180deg, #792D67 0%, #362156 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin_bottom_1 {
  margin-bottom: 1rem;
}

.margin_bottom_2 {
  margin-bottom: 2rem;
}

.margin_bottom_3 {
  margin-bottom: 3rem;
}

.margin_bottom_4 {
  margin-bottom: 4rem;
}

.padding_1 {
  padding: 1rem;
}

.padding_2 {
  padding: 2rem;
}

.padding_3 {
  padding: 3rem;
}

.brand_content {
  margin-top: 4rem;
  margin-left: 15rem;
  background-color: #F0F0F0;
  min-height: 100vh;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.btn__white {
  background-color: white;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

.btn__orange {
  background-color: var(--color-secondary);
  color: white;
  border: 2px solid var(--color-secondary);
}

.brand_header {
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.brand_header img {
  height: 4rem;
}

.brand_header__notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.brand_header__notification__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--color-primary);
}

.brand_sidebar {
  position: fixed;
  top: 4rem;
  bottom: 0;
  left: 0;
  width: 15rem;
  background: var(--color-main-gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0 3rem;
  color: white;
}

.brand_sidebar a {
  color: white;
  text-decoration: none;
  opacity: 0.6;
}

.brand_sidebar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand_sidebar__text {
  opacity: 0.6;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.brand_sidebar__menu {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand_sidebar__menu:hover {
  border-left: 4px solid white;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem calc(1rem - 4px);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.brand_sidebar__selected:link {
  border-left: 4px solid white;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem calc(1rem - 4px);
}

.brand_sidebar__selected:link:link {
  opacity: 0.9;
}

.brand_sidebar__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
  margin-right: 1rem;
}

.login {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.login__left {
  float: left;
  width: 35%;
  height: 100%;
}

.login__left img {
  width: 100%;
  height: 100%;
}

.login__right {
  float: right;
  width: 65%;
  height: 100%;
  background-image: var(--color-main-gradient);
  padding: 8rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__right__header {
  color: white;
  padding-bottom: 2rem;
}

.login__right__card {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}

.login__right__text {
  text-align: right;
  margin-top: 1rem;
}

.login__right__text a {
  color: white;
}

.login__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__input input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  margin: 1rem 0;
  border: 1px solid #E9EBF1;
}

.login__input button {
  margin-top: 1rem;
}

.register {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.register__left {
  float: left;
  width: 35%;
  height: 100%;
}

.register__left img {
  width: 100%;
  height: 100%;
}

.register__right {
  float: right;
  width: 65%;
  height: 100%;
  background-image: var(--color-main-gradient);
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register__right__header {
  color: white;
  padding-bottom: 2rem;
}

.register__right__card {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}

.register__right__text {
  text-align: right;
  margin-top: 1rem;
}

.register__right__text a {
  color: white;
}

.register__input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] 1fr)[12];
      grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 16px;
}

.register__input input {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #E9EBF1;
}

.register__input__box-1 {
  grid-column: col-start / span 6;
}

.register__input__box-2 {
  grid-column: col-start 7 / -1;
}

.register__input__box-3 {
  grid-column: col-start / span 3;
}

.register__input__box-4 {
  grid-column: col-start 4 / span 3;
}

.register__input__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem;
}

.register__input__checkbox input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1rem;
          flex: 0 0 1rem;
  height: 1rem;
  margin-right: 1rem;
}
