{% extends "brands/_base/_base.html" %}
{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %} Your Campaign {% endblock %}
</head>
<body>
{% block content %}

  <!-- First Banner -->
  <section class="campaign__banner">
    <div class="campaign__banner__left">
      <h4>ทำแคมเปญ ได้ง่ายๆ</h4>
      <h4>เริ่มยันจบ ครบบน</h4>
      <h4>แพลตฟอร์ม</h4>
    </div>
    <div class="campaign__banner__right">
      <div class="campaign__banner__right__box">
        <img src="{% static 'img/campaigns/icon_2_shout_campaign.png' %}" alt="">
        <p class="header">Planning</p>
        <p class="detail">วางแผนแคมเปญ และคัดเลือก Shouters (Data-Driven)</p>
      </div>
      <div class="campaign__banner__right__box">
        <img src="{% static 'img/campaigns/icon_2_shout_campaign.png' %}" alt="">
        <p class="detail">ประกาศแคมเปญ</p>
      </div>
      <div class="campaign__banner__right__box">
        <img src="{% static 'img/campaigns/icon_3_management.png' %}" alt="">
        <p class="header">Managemnet</p>
        <p class="detail">จัดการแคมเปญ และ ตรวจงานก่อนโพสท์จริง</p>
      </div>
      <div class="campaign__banner__right__box">
        <img src="{% static 'img/campaigns/icon_4_shouter_post.png' %}" alt="">
        <p class="detail">Shouters โพสต์งาน</p>
      </div>
      <div class="campaign__banner__right__box">
        <img src="{% static 'img/campaigns/icon_5_result.png' %}" alt="">
        <p class="header">Result</p>
        <p class="detail">ดูผลลัพธ์แคมเปญ (Real-time)</p>
      </div>
    </div>
  </section>

  <!-- Second Banner -->
  <section class="campaign__second__banner">
    <div class="campaign__card campaign__second__banner__left">
      <div class="campaign__second__banner__left__logo">
        <img src="{% static 'img/campaigns/icon_rocket.png' %}" alt="">
        <div class="campaign__second__banner__left__text">
          <h6>สร้างแคมเปญง่ายๆเลย ตอนนี้ ไม่มีค่าธรรมเนียม !</h6>
          <h6 class="r">(งบขั้นต่ำ 50,000 บาท เท่านั้น)</h6>
        </div>
      </div>
      <a href="{% url 'brand__index' %}">
        <button class="w180 btn__orange">สร้างแคมเปญ<span>  +</span></button>
      </a>
    </div>
    <div class="campaign__card campaign__second__banner__right">
      <div class="campaign__second__banner__right__header">
        <img src="{% static 'img/campaigns/icon_tel.png' %}" alt="">
        <p>หรือติดต่อพวกเรา (ฟรี)</p>
      </div>
      <p>087-560-4935 (คุณโอ๊ต)</p>
      <p>contact@shoutsolution.com</p>
    </div>
  </section>

  <!-- Campaign Breadcrumb -->
  <section class="campaign__breadcrumb">
    <!-- Draft -->
    <a href="{% url 'campaign_draft' %}">
      <div class="campaign__breadcrumb__box">
        <p>แบบร่าง ({{ campaign_draft_count|intcomma }})</p>
      </div>
    </a>
    <!-- In Progress -->
    <a href="{% url 'campaign_in_progress' %}" class="activate">
      <div class="campaign__breadcrumb__box activate">
        <p>ดำเนินการ ({{ campaign_in_progress_count|intcomma }})</p>
      </div>
    </a>
    <!-- Finished -->
    <a href="{% url 'campaign_finished' %}">
      <div class="campaign__breadcrumb__box">
        <p>เสร็จสิ้น ({{ campaign_finished_count|intcomma }})</p>
      </div>
    </a>
  </section>

  <!-- Campaign Content -->
  {% if campaigns.count == 0 %}
    <!-- No Campaign -->
    <section class="campaign__content__empty">
      <img src="{% static 'img/campaigns/icon_campaign_empty.png' %}" alt="">
      <p>ไม่มีแคมเปญที่กำลังดำเนินการอยู่</p>
      <a href="{% url 'create_name' %}" class="none">
        <button class="w300 btn__orange">สร้างแคมเปญเลย +</button>
      </a>
    </section>
  {% endif %}
  {% for campaign in campaigns %}
    <section class="campaign__content">
      <div class="campaign__content__header">
        <h6>Serb Product Launching</h6>
        <span class="campaign__content__header__tag finished">เสร็จสิ้น</span>
      </div>
      <div class="campaign__content__detail">
        <img src="{% static 'img/campaigns/serb_photo.png' %}" alt="">
        <div class="campaign__content__detail__data">
            <div class="campaign__content__detail__data__top">
              <div class="campaign__content__detail__data__top__left">
                <div class="campaign__content__detail__data__box">
                  <p class="header">Social Media</p>
                  <div class="campaign__content__detail__data__box__icon">
                    {% if campaign.campaign_is_fb %}
                      <img src="{% static 'img/brands/icon_instagram.png' %}" alt="">
                      <img src="{% static 'img/brands/icon_facebook.png' %}" alt="">
                    {% else %}
                      <img src="{% static 'img/brands/icon_instagram.png' %}" alt="">
                    {% endif %}
                  </div>
                </div>
                <div class="campaign__content__detail__data__box">
                  <p class="header">Work Format</p>
                  {% if campaign.campaign_work_type == 'story' %}
                    <p>Story Only</p>
                  {% elif campaign.campaign_work_type == 'post' %}
                    <p>Post Only</p>
                  {% else %}
                    <p>Story and Post</p>
                  {% endif %}
                </div>
                <div class="campaign__content__detail__data__box">
                  <p class="header">Content Type</p>
                  {% if campaign.campaign_work_type == 'story' %}
                    {% if campaign.campaign_content_type_story == 'prepared_content' %}
                      <p>Finished Content</p>
                    {% else %}
                      <p>User Generated Content</p>
                    {% endif %}
                  {% elif campaign.campaign_work_type == 'post' %}
                    {% if campaign.campaign_content_type_post == 'single_post' %}
                      <p>Single Post</p>
                    {% else %}
                      <p>Multi Post</p>
                    {% endif %}
                  {% else %}
                    {% if campaign.campaign_content_type_story == 'prepared_content' %}
                      {% if campaign.campaign_content_type_post == 'single_post' %}
                        <p>FC + Single Post</p>
                      {% else %}
                        <p>FC + Multi Post</p>
                      {% endif %}
                    {% else %}
                      {% if campaign.campaign_content_type_post == 'single_post' %}
                        <p>UGC + Single Post</p>
                      {% else %}
                        <p>UGC + Multi Post</p>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="campaign__content__detail__data__top__right">
                <div class="campaign__content__detail__data__box">
                  <p class="header">Budget</p>
                  <p>{{ campaign.campaign_budget|intcomma }} บาท</p>
                </div>
                <div class="campaign__content__detail__data__box">
                  <p class="header">Shouters</p>
                  <p>{{ campaign.estimate_min_shouter|intcomma }} - {{ campaign.estimate_max_shouter|intcomma }} คน</p>
                </div>
                <div class="campaign__content__detail__data__box">
                  <p class="header">Est. Reach</p>
                  <p>{{ campaign.estimate_min_reach|intcomma }} - {{ campaign.estimate_max_reach|intcomma }} reach</p>
                </div>
              </div>
            </div>
            <div class="campaign__content__detail__data__bottom">
              <p>สถานะการจัดการแคมเปญ (Shouter Status)</p>
              <div class="campaign__content__detail__data__bottom__status">
                <div class="campaign__content__detail__data__bottom__status__box">
                  <p>รอการตอบรับ</p>
                  <span>0</span>
                </div>
                <div class="campaign__content__detail__data__bottom__status__box">
                  <p>กำลังทำงาน</p>
                  <span>0</span>
                </div>
                <div class="campaign__content__detail__data__bottom__status__box">
                  <p>ตรวจงาน</p>
                  <span>0</span>
                </div>
                <div class="campaign__content__detail__data__bottom__status__box">
                  <p>เสร็จสิ้น</p>
                  <span>0</span>
                </div>
              </div>
            </div>
          </div>
        <div class="campaign__content__detail__summary">
          <a href="" class="none">
            <img src="{% static 'img/campaigns/icon_insight.png' %}" alt="">
          </a>
        </div>
      </div>
    </section>
  {% endfor %}

{% endblock %}
</body>
</html>