{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta
      property="og:description"
      content="Follower เท่าไหร่ก็รับงานได้ แค่ลง IG Story ง่ายๆก็ได้เงิน สมัครเลย"
    />
    <meta property="og:image" content="{% static 'img/shouters/UVP-mobile.png' %}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shout | Follower เท่าไหร่ก็รับงานได้ แค่ลง IG Story ง่ายๆก็ได้เงิน สมัครเลย</title>
</head>

<body>
    <section class="container">
        <header class="header">
            <img src="{% static 'img/logo/Shout_Logov2-01.png' %}" alt="logo" class="logo">
            <nav class="user-nav">
                <ul class="user-nav__items">
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#shouter__why-shout">Why Shout</a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link" href="#shouter__start">How to start</a>
                    </li>
                    <li class="user-nav__item">
                        <a class="user-nav__link shouter-landing__nav-link" href="{% url 'index' %}">👩🏻‍💻 เป็นนักการตลาด? คลิกที่นี่</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="shouter__uvp" class="shouter__uvp">
                <div class="shouter__uvp__left">
                    <div>
                        <h1 class="shouter__uvp__left__main-text">Follower เท่าไหร่</h1>
                        <h1 class="shouter__uvp__left__main-text">ก็รับงานได้!</h1>
                        <p class="shouter__uvp__left__sub-text">เริ่มต้นแค่ลง Story ง่ายๆก็ได้เงิน</p>
                    </div>
                    <div class="shouter__uvp__left__qr">
                        <img src="{% static 'img/shouters/line_qr_code__M.png' %}" alt="">
                        <div class="shouter__uvp__left__add-line">
                            <a href="https://lin.ee/Cmwz1WK" class="btn__line__add-friend">
                                <img src="{% static 'img/shouters/line_oa_logo.png' %}" alt="">
                                Add Line สมัครเลย!
                            </a>
                        </div>
                    </div>
                    <p class="shouter__uvp__left__text">
                        เป็นนักการตลาด ต้องการสร้างแคมเปญ? <a href="{% url 'index' %}">คลิกที่นี่</a>
                    </p>
                </div>
                <div class="shouter__uvp__right">
                    <img class="shouter__uvp__right__image" src="{% static 'img/shouters/UVP.png' %}" alt="">
                    <img class="shouter__uvp__right__image-mobile" src="{% static 'img/shouters/UVP-mobile.png' %}" alt="">
                </div>
                <div class="shouter__uvp__left__mobile">
                    <div class="shouter__uvp__left__add-line-mobile">
                        <a href="https://lin.ee/Cmwz1WK" class="btn__line__add-friend">
                            <img src="{% static 'img/shouters/line_oa_logo.png' %}" alt="">
                            Add Line สมัครเลย!
                        </a>
                    </div>
                    <p class="shouter__uvp__left__text-mobile">หรือแอด Line OA : @shouter</p>
                    <p class="shouter__uvp__left__text-mobile">เป็นนักการตลาด ต้องการสร้างแคมเปญ? <a href="{% url 'index' %}">คลิกที่นี่</a></p>
                </div>
            </section>

            <section id="shouter__why-shout" class="shouter__why-shout">
                <h2 class="shouter__why-shout__header">ทำไมต้องสมัคร Shout?</h2>
                <div class="shouter__why-shout__content">

                    <div class="shouter__why-shout__content__item">
                        <div class="shouter__why-shout__content__item-1">
                            <img src="{% static 'img/shouters/shouter__why-shout-1.png' %}" alt="KOC Photo 1" class="shouter__why-shout__content__photo">
                            <div class="shouter__why-shout__content__detail">
                                <h2 class="shouter__why-shout__content__detail__header">ใครๆก็สมัครได้ ไม่ต้องมี Follower เยอะ</h2>
                                <p class="shouter__why-shout__content__detail__text">
                                    เพราะเราเชื่อในพลังของคนตัวเล็ก ทุกคนก็รับงานได้ อยากรู้ว่า Social Media คุณทำเงินได้เท่าไหร่ Shout
                                    คํานวณให้ ลองสมัครเลย
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="shouter__why-shout__content__item">
                        <div class="shouter__why-shout__content__item-1">
                            <img src="{% static 'img/shouters/shouter__why-shout-2.png' %}" alt="KOC Photo 2" class="shouter__why-shout__content__photo">
                            <div class="shouter__why-shout__content__detail">
                                <h2 class="shouter__why-shout__content__detail__header">เริ่มต้นรับงานแค่ลง Story ง่ายๆก็รับได้</h2>
                                <p class="shouter__why-shout__content__detail__text">
                                    มีรูปแบบงานให้เลือกรับหลากหลาย เลือกได้ตามใจคุณ
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="shouter__why-shout__content__item">
                        <div class="shouter__why-shout__content__item-2">
                            <div class="shouter__why-shout__content__detail">
                                <h2 class="shouter__why-shout__content__detail__header">แค่แอด Line ก็เริ่มได้เลย ไม่ต้องโหลดแอป</h2>
                                <p class="shouter__why-shout__content__detail__text">
                                    ตั้งแต่สมัคร รอรับงาน ทำงาน ส่งงาน รับเงิน ง่ายๆ จบบน Line! ไม่ต้องคุยกับคนให้วุ่นวาย
                                </p>
                            </div>
                            <img src="{% static 'img/shouters/shouter__why-shout-3.png' %}" alt="KOC Photo 3" class="shouter__why-shout__content__photo">
                        </div>
                    </div>

                    <div class="shouter__why-shout__content__item">
                        <div class="shouter__why-shout__content__item-2">
                            <div class="shouter__why-shout__content__detail">
                                <h2 class="shouter__why-shout__content__detail__header">ไม่มีแจ้งเตือนให้น่ารำคาญ "งานเด้ง = งานได้"</h2>
                                <p class="shouter__why-shout__content__detail__text">
                                    ระบบจะแจ้งเตือน <span>เมื่อคุณได้รับงาน และถูกคัดเลือก จากแบรนด์แล้วเท่านั้น</span> แค่รอรับงานอย่างเดียว
                                </p>
                            </div>
                            <img src="{% static 'img/shouters/shouter__why-shout-4.png' %}" alt="KOC Photo 4" class="shouter__why-shout__content__photo">
                        </div>
                    </div>
                </div>
            </section>

            <section id="shouter__start" class="shouter__start">
                <h2 class="shouter__start__header">เริ่มต้นเป็น Shouter</h2>
                <h2 class="shouter__start__header">กับเราได้ง่ายๆ</h2>
                <div class="shouter__start__content">
                    <div class="shouter__start__content__block">
                        <img src="{% static 'img/shouters/shouter__start-1.png' %}" alt="" class="shouter__start__content__image">
                        <h1 class="shouter__start__content__header">Easy Register</h1>
                        <p class="shouter__start__content__text">แค่แอดไลน์ก็สมัครได้เลยง่ายๆ ไม่ต้องโหลดแอป</p>
                    </div>
                    <div class="shouter__start__content__block">
                        <img src="{% static 'img/shouters/shouter__start-2.png' %}" alt="" class="shouter__start__content__image">
                        <h1 class="shouter__start__content__header">Fair Price Calculation</h1>
                        <p class="shouter__start__content__text">เชื่อมต่อ Social Media เพื่อคำนวณราคาที่คุณจะได้รับ ระบบคำนวณอย่างเท่าเทียม ไม่ได้ขึ้นอยู่กับแค่ Follower</p>
                    </div>
                </div>
                <div class="shouter__start__content">
                    <div class="shouter__start__content__block">
                        <img src="{% static 'img/shouters/shouter__start-3.png' %}" alt="" class="shouter__start__content__image">
                        <h1 class="shouter__start__content__header">Just Wait for work</h1>
                        <p class="shouter__start__content__text">หลังจากสมัครเสร็จ เพียงแค่รอรับงานผ่าน Line (แบรนด์เลือกคุณแล้ว) จากนั้นแค่ตอบรับหรือไม่รับงาน</p>
                    </div>
                    <div class="shouter__start__content__block">
                        <img src="{% static 'img/shouters/shouter__start-4.png' %}" alt="" class="shouter__start__content__image">
                        <h1 class="shouter__start__content__header">Easy Work Management</h1>
                        <p class="shouter__start__content__text">อ่านรายละเอียด ทำงาน ส่งดราฟท์ ส่งงานหลังโพสท์ จบบน Line ง่ายๆ เป็น Step by Step</p>
                    </div>
                </div>
                <div class="shouter__start__content-one">
                    <div class="shouter__start__content__block">
                        <img src="{% static 'img/shouters/shouter__start-5.png' %}" alt="" class="shouter__start__content__image">
                        <h1 class="shouter__start__content__header">Secure Payment</h1>
                        <p class="shouter__start__content__text">เมื่องานเสร็จสิ้น รอรับเงินภายใน 15 วันได้เลยไม่ต้องกังวล</p>
                    </div>
                </div>
            </section>

            <section id="shouter__start-now" class="shouter__start-now">
                <div class="shouter__start-now__content">
                    <div class="shouter__start-now__content__left">
                        <h1 class="shouter__start-now__content__main">เริ่ม Shout! เลยวันนี้</h1>
                        <h3 class="shouter__start-now__content__sub">สร้าง Earned media ผ่าน Shouter (ผู้บอกต่อ) ได้ง่ายๆด้วยตัวคุณเอง</h3>
                    </div>
                    <div class="shouter__start-now__content__right">
                        <div class="shouter__uvp__left__add-line">
                            <a href="https://lin.ee/Cmwz1WK" class="btn__line__add-friend">
                                <img src="{% static 'img/shouters/line_oa_logo.png' %}" alt="">
                                Add Line สมัครเลย!
                            </a>
                        </div>
                        <p class="shouter__start-now__text">หรือแอด Line OA : @shouter</p>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer">

            <div class="footer__left">
                <img src="{% static 'img/logo/Shout_Logov2-02.png' %}" alt="" class="footer__brand-logo">
                <div class="footer__info">
                    <svg class="footer__icon">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-location-pin"></use>
                    </svg>
                    <div class="footer__info__container">
                        <p class="footer__text-main">บริษัท เชาท์ พีทูพี จำกัด / Shout P2P Company Limited</p>
                        <p class="footer__text-sub">29 ซอยเพชรเกษม 60/3 บางด้วน ภาษีเจริญ 10160 ประเทศไทย</p>
                    </div>
                </div>
                <div class="footer__info">
                    <svg class="footer__icon">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-mobile"></use>
                    </svg>
                    <p class="footer__text-sub">087-560-4935</p>
                </div>
                <div class="footer__info">
                    <svg class="footer__icon">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-mail"></use>
                    </svg>
                    <p class="footer__text-sub">contact@shoutsolution.com</p>
                </div>

            </div>

            <div class="footer__right">
                <div class="footer__link">
                    <a href="#shouter__uvp">What’s Shouter</a>
                    <a href="#shouter__why-shout">Why Shouter</a>
                    <a href="#shouter__start">How Shouter works</a>
                </div>

                <div class="footer__social-media">
                    <svg class="footer__icon-white">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-facebook"></use>
                    </svg>
                    <svg class="footer__icon-white">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-instagram"></use>
                    </svg>
                    <svg class="footer__icon-white">
                        <use xlink:href="{% static 'img/pages/sprite.svg' %}#icon-twitter"></use>
                    </svg>
                </div>

                <div class="footer__term-policy">
                    <a href="#">Terms and Conditions</a>
                    <span> | </span>
                    <a href="#">Privacy Policy</a>
                </div>
              <p class="footer__text-reserved">© 2021 Shout Solution. All rights reserved.</p>
            </div>

        </footer>
    </section>
</body>

</html>