{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{#    <script src="{% static 'js/base.js' %}"></script>#}
    <!-- Vue Framework -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
    <!--    <script src="https://unpkg.com/vue@next" defer></script>-->
    <!--    <script src="js/base.js" defer></script>-->

    <!-- J query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
        function showPreview1(event){
          if(event.target.files.length > 0){
            const src = URL.createObjectURL(event.target.files[0]);
            const preview = document.getElementById("file-ip-1-preview");
            const old_photo = document.getElementById("old_photo_1");
            preview.src = src;
            preview.style.display = "block";
            old_photo.style.display = "none";
          }
        }

        function showPreview2(event){
          if(event.target.files.length > 0){
            const src = URL.createObjectURL(event.target.files[0]);
            const preview = document.getElementById("file-ip-2-preview");
            const old_photo = document.getElementById("old_photo_2");
            preview.src = src;
            preview.style.display = "block";
            old_photo.style.display = "none";
          }
        }


        function submitForm() {
          const preview_1 = $("#file-ip-1-preview").css("display");
          const preview_2 = $("#file-ip-2-preview").css("display");
          const bank_account_number = $("#bank_account_number").val();
          const bank_name = $("#bank_name").val();
          const bank_username = $("#bank_username").val();
          const old_photo_1 = $("#old_photo_1").css("display");
          const old_photo_2 = $("#old_photo_2").css("display");

          if(preview_1 !== "block" || preview_2 !== "block" || bank_account_number.trim() === '' ||
            bank_name.trim() === '' || bank_username.trim() === '') {
            if(old_photo_1 === "none" && old_photo_2 === "none") {
              alert('Please insert photo and fill in all information.');
            }
            else {
              if(bank_account_number.trim() === '' || bank_name.trim() === '' || bank_username.trim() === '') {
                alert('Please fill in all information.');
              } else {
                $("#bank_account").submit();
              }
            }
          } else {
            $("#bank_account").submit();
          }
        }

        function submitForm_new() {
          const preview_1 = $("#file-ip-1-preview").css("display");
          const preview_2 = $("#file-ip-2-preview").css("display");
          const bank_account_number = $("#bank_account_number").val();
          const bank_name = $("#bank_name").val();
          const bank_username = $("#bank_username").val();

          if(preview_1 !== "block" || preview_2 !== "block" || bank_account_number.trim() === '' ||
            bank_name.trim() === '' || bank_username.trim() === '') {
            alert('Please insert photo and fill in all information.');
          } else {
            $("#bank_account").submit();
          }
        }

        function reUpload() {
          const default_data = document.getElementById("default_data");
          const re_upload_data = document.getElementById("re_upload_data");
          default_data.style.display = "none";
          re_upload_data.style.display = "flex";
        }

    </script>
    <!-- Title -->
    <title>Shout | Account</title>
</head>
<body>
    <section class="container">
        <section class="social-media-list">
            <a href="{% url 'shouter__menu' token %}">
                <svg class="social-media-list__icon-back">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-left"></use>
                </svg>
            </a>
            <div class="social-media-list__header">
                <p>บัญชีธนาคาร / บัตรประชาชน</p>
            </div>
        </section>

        <main class="bank-account__content">
            <form action="{% url 'shouter__menu__bank-account' token %}" method="POST" enctype="multipart/form-data" id="bank_account"> {% csrf_token %}
                {% if not shouter.is_connect_bank %}
                <div class="social-card">
                    <!-- ID CARD -->
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <h3>สำเนาบัตรประชาชน</h3>

                        </div>
                    </div>
                    <div class="bank-account__detail">
                        <div class="bank-account__form-input"
                             style="display: flex; flex-direction: column; align-items: center; position: relative; min-height: 80px;">
                            <label for="file-ip-1"
                                   style="border: 1px solid #E9EBF1; margin: 0; position: absolute; top: 10%;">อัพโหลดใหม่</label>
                            <div class="bank-account__preview" style="display: flex; justify-content: center">
                                <img id="file-ip-1-preview" style="width: 100%; height: 100%; margin: 0;">
                            </div>
                            <input type="file" name="id_card" id="file-ip-1" accept="image/*" onchange="showPreview1(event);">
                        </div>
                    </div>
                    <div class="social-media-list__space"></div>

                    <!-- BOOK BANK -->
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <h3>บัญชีธนาคาร</h3>
                        </div>
                    </div>
                    <div class="bank-account__detail">
                        <div class="bank-account__form-input"
                             style="display: flex; flex-direction: column; align-items: center; position: relative; min-height: 80px;">
                            <label for="file-ip-2"
                                   style="border: 1px solid #E9EBF1; margin: 0; position: absolute; top: 10%;">อัพโหลดใหม่</label>
                            <div class="bank-account__preview" style="display: flex; justify-content: center">
                                <img id="file-ip-2-preview" style="width: 100%; height: 100%; margin: 0;">
                            </div>
                            <input type="file" name="book_bank" id="file-ip-2" accept="image/*" onchange="showPreview2(event);">
                        </div>
                    </div>
                    <div class="social-media-list__space"></div>

                    <!-- WARNING -->
                    <ul class="bank-account__list">
                        <li>
                            <p class="bank-account__list__text">โปรดถ่ายรูปให้เห็นข้อมูลบนบัตรประชาชนและสมุดบัญชีได้อย่างชัดเจน</p>
                        </li>
                        <li>
                            <p class="bank-account__list__text">แนะนำให้วางเอกสารบนพื้นราบ อย่าวางนิ้วมือบดบังข้อมูล</p>
                        </li>
                    </ul>
                    <div class="social-media-list__space"></div>

                    <!-- INPUT -->
                    <div class="bank-account__text-input">
                        <label for="bank_account_number">เลขบัญชีธนาคาร <span>*</span> </label>
                        <input type="tel" id="bank_account_number" name="bank_account_number" placeholder="Enter Account Number"
                               style="display: flex; font-size: 18px; height: 40px; width: 100%; border: var(--border-grey-light);
                        border-radius: 6px; color: var(--color-text-main); margin: 5px 0 20px; padding: 6px 12px;">

                        <label for="bank_name">ชื่อธนาคาร <span>*</span> </label>
                        <select name="bank_name" id="bank_name" style="display: flex; font-size: 18px; height: 40px; width: 100%; border: var(--border-grey-light);
                        border-radius: 6px; color: var(--color-text-main); margin: 5px 0 20px;">
                            <option value="" selected disabled>สถาบันการเงิน</option>
                            {% for foo in banking_lists %}
                                <option value={{ foo }}>{{ foo }}</option>
                            {% endfor %}
                        </select>

                        <label for="bank_username">ชื่อเจ้าของบัญชี <span>*</span> </label>
                        <input type="text" id="bank_username" name="bank_username" placeholder="นาย เชาท์ โซลูชั่น"/>
                    </div>

                    <!-- CONSENT -->
                    <div class="bank-account__consent">
                        <svg class="bank-account__consent__icon">
                            <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-shield"></use>
                        </svg>

                        <p class="bank-account__consent__text" style="font-size: 14px">ข้อมูลของคุณจะถูกจัดเก็บอย่างปลอดภัย และเป็นความลับ ในระบบของเรา
                            คุณสามารถเข้าถึงข้อมูลนี้ ได้แต่เพียงผู้เดียว</p>
                    </div>

                    <!-- BUTTON -->
                    <span class="btn-shouter btn-main" style="margin: 10px 0; text-align: center" onclick="submitForm()">บันทึก</span>

                </div>
                {% else %}
                <!-- DEFAULT DATA -->
                <div class="social-card" id="default_data">
                    <!-- ID CARD -->
                    <div class="social-card__header">
                        <div class="social-card__name" style="display: flex; flex-direction: column; align-items: flex-start">
                            <h3>สำเนาบัตรประชาชน</h3>
                        </div>
                        <svg class="social-card__icon" onclick="reUpload()" style="fill: var(--color-primary);">
                            <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-compose"></use>
                        </svg>
                    </div>
                    <div class="bank-account__detail" style="display: flex; justify-content: center">
                        <img src="{{ shouter.id_card_photo.url }}" style="width: 100%; height: 100%; margin: 0;">
                    </div>
                    <div class="social-media-list__space"></div>

                    <!-- BOOK BANK -->
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <h3>บัญชีธนาคาร</h3>
                        </div>
                    </div>
                    <div class="bank-account__detail" style="display: flex; justify-content: center">
                        <img src="{{ shouter.book_bank_photo.url }}" style="width: 100%; height: 100%; margin: 0;">
                    </div>
                    <div class="social-media-list__space"></div>

                    <div>
                        <div style="margin-bottom: 20px;">
                            <p style="margin-bottom: 3px; font-size: 18px; font-weight: 600;">เลขบัญชีธนาคาร</p>
                            <p>{{ shouter.bank_account_number }}</p>
                        </div>

                        <div style="margin-bottom: 20px;">
                            <p style="margin-bottom: 3px; font-size: 18px; font-weight: 600;">ชื่อธนาคาร</p>
                            <p>{{ shouter.bank_name }}</p>
                        </div>

                        <div style="margin-bottom: 20px;">
                            <p style="margin-bottom: 3px; font-size: 18px; font-weight: 600;">ชื่อเจ้าของบัญชี</p>
                            <p>{{ shouter.bank_username }}</p>
                        </div>
                    </div>
                </div>

                <div class="social-card" id="re_upload_data" style="display: none;">
                    <!-- ID CARD -->
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <h3>สำเนาบัตรประชาชน</h3>
                        </div>
                    </div>
                    <div class="bank-account__detail" style="display: flex; flex-direction: column; position: relative;">
                        <img src="{{ shouter.id_card_photo.url }}" style="width: 100%; height: 100%;" id="old_photo_1">
                        <label id="text-file-ip-1" for="file-ip-1"
                                   style="border: 1px solid #E9EBF1; margin: 0; position: absolute; top: 10%; background-color: white;
                                   font-weight: 700; color: red; font-size: 5rem; border-radius: 10px; padding: 5px 20px;">อัพโหลดใหม่</label>

                        <div class="bank-account__preview" style="display: flex; justify-content: center">
                            <img id="file-ip-1-preview" style="width: 100%; height: 100%; margin: 0;">
                        </div>
                        <input type="file" name="id_card" id="file-ip-1" accept="image/*" onchange="showPreview1(event);" style="display: none;">
                    </div>
                    <div class="social-media-list__space"></div>

                    <!-- BOOK BANK -->
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <h3>บัญชีธนาคาร</h3>
                        </div>
                    </div>
                    <div class="bank-account__detail" style="display: flex; flex-direction: column; position: relative;">
                        <img src="{{ shouter.book_bank_photo.url }}" style="width: 100%; height: 100%;" id="old_photo_2">
                        <label id="text-file-ip-2" for="file-ip-2"
                                   style="border: 1px solid #E9EBF1; margin: 0; position: absolute; top: 10%; background-color: white;
                                   font-weight: 700; color: red; font-size: 5rem; border-radius: 10px; padding: 5px 20px;">อัพโหลดใหม่</label>

                        <div class="bank-account__preview" style="display: flex; justify-content: center">
                            <img id="file-ip-2-preview" style="width: 100%; height: 100%; margin: 0;">
                        </div>
                        <input type="file" name="book_bank" id="file-ip-2" accept="image/*" onchange="showPreview2(event);" style="display: none;">
                    </div>
                    <div class="social-media-list__space"></div>

                    <!-- WARNING -->
                    <ul class="bank-account__list">
                        <li>
                            <p class="bank-account__list__text">โปรดถ่ายรูปให้เห็นข้อมูลบนบัตรประชาชนและสมุดบัญชีได้อย่างชัดเจน</p>
                        </li>
                        <li>
                            <p class="bank-account__list__text">แนะนำให้วางเอกสารบนพื้นราบ อย่าวางนิ้วมือบดบังข้อมูล</p>
                        </li>
                    </ul>
                    <div class="social-media-list__space"></div>

                    <!-- INPUT -->
                    <div class="bank-account__text-input">
                        <label for="bank_account_number">เลขบัญชีธนาคาร <span>*</span> </label>
                        <input type="tel" id="bank_account_number" name="bank_account_number" placeholder="Enter Account Number"
                               value="{{ shouter.bank_account_number }}"
                               style="display: flex; font-size: 18px; height: 40px; width: 100%; border: var(--border-grey-light);
                        border-radius: 6px; color: var(--color-text-main); margin: 5px 0 20px; padding: 6px 12px;">

                        <label for="bank_name">ชื่อธนาคาร <span>*</span> </label>
                        <select name="bank_name" id="bank_name" style="display: flex; font-size: 18px; height: 40px; width: 100%; border: var(--border-grey-light);
                        border-radius: 6px; color: var(--color-text-main); margin: 5px 0 20px;">
                            <option value="" selected disabled>สถาบันการเงิน</option>
                            {% for foo in banking_lists %}
                                {% if shouter.bank_name == foo %}
                                    <option value={{ foo }} selected>{{ foo }}</option>
                                {% else %}
                                    <option value={{ foo }}>{{ foo }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>

                        <label for="bank_username">ชื่อเจ้าของบัญชี <span>*</span> </label>
                        <input type="text" id="bank_username" name="bank_username" placeholder="นาย เชาท์ โซลูชั่น"
                               value="{{ shouter.bank_username }}" />
                    </div>

                    <!-- CONSENT -->
                    <div class="bank-account__consent">
                        <svg class="bank-account__consent__icon">
                            <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-shield"></use>
                        </svg>

                        <p class="bank-account__consent__text" style="font-size: 14px">ข้อมูลของคุณจะถูกจัดเก็บอย่างปลอดภัย และเป็นความลับ ในระบบของเรา
                            คุณสามารถเข้าถึงข้อมูลนี้ ได้แต่เพียงผู้เดียว</p>
                    </div>

                    <!-- BUTTON -->
                    <span class="btn-shouter btn-main" style="margin: 10px 0; text-align: center" onclick="submitForm()">บันทึก</span>

                </div>
                {% endif %}

            </form>
        </main>

    </section>


</body>
</html>