{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!--    <script src="https://unpkg.com/vue@next" defer></script>-->
<!--    <script src="js/main.js" defer></script>-->
    <!-- Title -->
    <title>Shout | Menu</title>
</head>
<body>
    <section class="container">
        <section class="shouter-account__top">
            {% if shouter.line_profile_picture %}
                <img class="shouter-account__top__image" src="{{ shouter.line_profile_picture }}"
                     alt="" style="width: 25rem; height: 25rem; border-radius: 50%; border: 2px solid white;">
            {% else %}
                <svg class="shouter-account__top__image register__form__image" style="border: 2px solid white;">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-user"></use>
                </svg>
            {% endif %}

            <h2 class="shouter-account__top__main-text">
                {{ shouter.nickname }}
            </h2>
            <h3 class="shouter-account__top__sub-text">
                {{ shouter.first_name }}  {{ shouter.last_name }}
            </h3>

        </section>

        <main class="shouter-account__content">
            <div class="shouter-account__content__block">
                <p class="shouter-account__content__header">การทำงานของคุณ</p>
            </div>

            <a href="{% url 'shouter__menu__edit-profile' token %}" class="shouter-account__content__block">
                <div class="shouter-account__content__block__left">
                    <svg class="shouter-account__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-v-card"></use>
                    </svg>
                    <p class="shouter-account__content__text">แก้ไขข้อมูลส่วนตัว</p>
                </div>
                <svg class="shouter-account__content__block__right shouter-account__icon-next">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-right"></use>
                </svg>
            </a>


            <a href="{% url 'shouter__menu__social-media' token %}" class="shouter-account__content__block">
                <div class="shouter-account__content__block__left">
                    <svg class="shouter-account__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-user"></use>
                    </svg>
                    <p class="shouter-account__content__text">บัญชี Social Media</p>
                </div>
                <svg class="shouter-account__content__block__right shouter-account__icon-next">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-right"></use>
                </svg>
            </a>

            <a href="{% url 'shouter__menu__work-selection' token %}" class="shouter-account__content__block">
                <div class="shouter-account__content__block__left">
                    <svg class="shouter-account__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-megaphone"></use>
                    </svg>
                    <p class="shouter-account__content__text">งานที่เปิดรับ</p>
                </div>
                <svg class="shouter-account__content__block__right shouter-account__icon-next">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-right"></use>
                </svg>
            </a>

            <a href="{% url 'shouter__menu__bank-account' token %}" class="shouter-account__content__block">
                <div class="shouter-account__content__block__left">
                    <svg class="shouter-account__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-credit"></use>
                    </svg>
                    <p class="shouter-account__content__text">บัญชีธนาคาร / บัตรประชาชน</p>
                </div>
                <svg class="shouter-account__content__block__right shouter-account__icon-next">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-right"></use>
                </svg>
            </a>

        </main>

    </section>


</body>
</html>