{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Vue Framework -->
  <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
{#  <script src="https://unpkg.com/vue@next" defer></script>#}
{#  <script src="{% static 'js/main.js' %}" defer></script>#}
  <!-- J query -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- JS -->
{#  <script src="{% static 'js/shouters/menu__work-selection.js' %}"></script>#}
  <script>
    function toggleVisible(bool) {
      return bool !== true;
    }

    function is_visible(bool, element) {
      if (bool === false) {
        element.style.display = "none";
      } else {
        element.style.display = "block";
      }
    }

    // IG
    function is_check_ig() {
      const is_check_ig_bool = $("input[type='checkbox'][name='is_check_ig']").is(':checked');

      // Set Opposite
      const bool = toggleVisible(is_check_ig_bool);

      // Show / UnShow below detail
      const is_check_ig_visible = document.getElementById("is_check_ig_visible");
      is_visible(bool, is_check_ig_visible);
    }


    // IG + FB
    function is_check_ig_fb() {
      const is_check_ig_fb_bool = $("input[type='checkbox'][name='is_check_ig_fb']").is(':checked');

      // Set Opposite
      const bool = toggleVisible(is_check_ig_fb_bool);

      // Show / UnShow below detail
      const is_check_ig_fb_visible = document.getElementById("is_check_ig_fb_visible");
      is_visible(bool, is_check_ig_fb_visible);
    }


    // TIKTOK
    function is_check_tiktok() {
      const is_check_tiktok_bool = $("input[type='checkbox'][name='is_check_tiktok']").is(':checked');

      // Set Opposite
      const bool = toggleVisible(is_check_tiktok_bool);

      // Show / UnShow below detail
      const is_check_tiktok_visible = document.getElementById("is_check_tiktok_visible");
      is_visible(bool, is_check_tiktok_visible);
    }


    // TWITTER
    function is_check_twitter() {
      const is_check_twitter_bool = $("input[type='checkbox'][name='is_check_twitter']").is(':checked');

      // Set Opposite
      const bool = toggleVisible(is_check_twitter_bool);

      // Show / UnShow below detail
      const is_check_twitter_visible = document.getElementById("is_check_twitter_visible");
      is_visible(bool, is_check_twitter_visible);
    }



    function defaultVisible() {
      // IG
      const is_check_ig_bool = $("input[type='checkbox'][name='is_check_ig']").is(':checked');
      // Show / UnShow below detail
      const is_check_ig_visible = document.getElementById("is_check_ig_visible");
      is_visible(is_check_ig_bool, is_check_ig_visible);

      // FB
      const is_check_ig_fb_bool = $("input[type='checkbox'][name='is_check_ig_fb']").is(':checked');
      // Show / UnShow below detail
      const is_check_ig_fb_visible = document.getElementById("is_check_ig_fb_visible");
      is_visible(is_check_ig_fb_bool, is_check_ig_fb_visible)

      // TIKTOK
      const is_check_tiktok_bool = $("input[type='checkbox'][name='is_check_tiktok']").is(':checked');
      // Show / UnShow below detail
      const is_check_tiktok_visible = document.getElementById("is_check_tiktok_visible");
      is_visible(is_check_tiktok_bool, is_check_tiktok_visible)

      // TWITTER
      const is_check_twitter_bool = $("input[type='checkbox'][name='is_check_twitter']").is(':checked');
      // Show / UnShow below detail
      const is_check_twitter_visible = document.getElementById("is_check_twitter_visible");
      is_visible(is_check_twitter_bool, is_check_twitter_visible)
    }

    $(document).ready(function(){
      console.log('ready')
      defaultVisible();
    });
  </script>
  <!-- Title -->
  <title>Shout | menu</title>
</head>

<body>
  <section class="container" id="choose_social">
    <section class="social-media-list">
      <a href="{% url 'shouter__menu' token %}">
        <svg class="social-media-list__icon-back">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-left"></use>
        </svg>
      </a>
      <div class="social-media-list__header">
        <p>งานที่เปิดรับ</p>
      </div>
    </section>

    <main class="content-2">
      <form action="{% url 'shouter__menu__work-selection' token %}" method="POST"> {% csrf_token %}
        <div class="content-2__body">
          <div class="register__account-summary__warning">
            <p class="register__account-summary__warning__icon">⭐️</p>
            <p class="register__account-summary__warning__text">ราคาจะมีการปรับเปลี่ยนอยู่ตลอดเวลา ตามข้อมูล Instagram
              และผลลัพธ์การ ทำงานของคุณ</p>
          </div>

          <div class="social-card">
            <div class="social-card__header">
              <div class="social-card__name">
                <svg class="social-card__icon">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                </svg>
                <h3>Instagram</h3>
              </div>
              <label class="social-card__switch">
                {% if shouter.is_check_ig %}
                  <input type="checkbox" name="is_check_ig" id="is_check_ig" checked>
                {% else %}
                  <input type="checkbox" name="is_check_ig" id="is_check_ig">
                {% endif %}
                <span onclick="is_check_ig()" class="slider round"></span>å
              </label>
            </div>
            <div class="social-card__detail" id="is_check_ig_visible">
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>Instagram Story</p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_fc|intcomma }}</span> - <span>{{shouter.ig_price_story_ugc|intcomma }}</span> บาท ต่อ 1 Story</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_story %}
                    <input type="checkbox" name="is_check_ig_story" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_story">
                  {% endif %}
                </div>
              </div>
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>Instagram Post</p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_price_post_fc|intcomma }}</span> - <span>{{shouter.ig_price_post_ugc|intcomma }}</span> บาท ต่อ 1 Post</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_post %}
                    <input type="checkbox" name="is_check_ig_post" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_post">
                  {% endif %}
                </div>
              </div>
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>Instagram Post + Story</p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_post_fc|intcomma }}</span> -
                    <span>{{ shouter.ig_price_story_post_ugc|intcomma }}</span> บาท ต่อ 1 Post + Story</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_story_post %}
                    <input type="checkbox" name="is_check_ig_story_post" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_story_post">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="social-card">
            <div class="social-card__header">
              <div class="social-card__name">
                <svg class="social-card__icon">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                </svg>
                <svg class="social-card__icon">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-facebook"></use>
                </svg>
                <h3>IG + FB Share</h3>
              </div>
              <label class="social-card__switch">
                {% if shouter.is_check_ig_fb %}
                  <input type="checkbox" name="is_check_ig_fb" id="is_check_ig_fb" checked>
                {% else %}
                  <input type="checkbox" name="is_check_ig_fb" id="is_check_ig_fb">
                {% endif %}
                <span onclick="is_check_ig_fb()" class="slider round"></span>
              </label>
            </div>
            <div class="social-card__detail" id="is_check_ig_fb_visible">
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>IG Story + แชร์ลง FB Story</p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_fc|intcomma }}</span> -
                    <span>{{ shouter.ig_fb_price_story_ugc|intcomma }}</span> บาท</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_fb_story %}
                    <input type="checkbox" name="is_check_ig_fb_story" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_fb_story">
                  {% endif %}
                </div>
              </div>
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>IG Post + แชร์ลง FB Post </p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_post_fc|intcomma }}</span> - <span>{{shouter.ig_fb_price_post_ugc|intcomma }}</span> บาท</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_fb_post %}
                    <input type="checkbox" name="is_check_ig_fb_post" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_fb_post">
                  {% endif %}
                </div>
              </div>
              <div class="social-card__detail__block">
                <div class="social-card__detail__name">
                  <p>IG Post + Story และ แชร์ลง FB Post + FB Story</p>
                  <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_post_fc|intcomma }}</span> -
                    <span>{{ shouter.ig_fb_price_story_post_ugc|intcomma }}</span> บาท</p>
                </div>
                <div class="social-card__detail__checkbox">
                  {% if shouter.is_check_ig_fb_story_post %}
                    <input type="checkbox" name="is_check_ig_fb_story_post" checked>
                  {% else %}
                    <input type="checkbox" name="is_check_ig_fb_story_post">
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <div class="social-card">
            <div class="social-card__header">
              <div class="social-card__name">
                <svg class="social-card__icon">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-tiktok"></use>
                </svg>
                <h3>Tiktok</h3>
              </div>
              <label class="social-card__switch">
                {% if shouter.is_check_tiktok %}
                  <input type="checkbox" name="is_check_tiktok" id="is_check_tiktok" checked>
                {% else %}
                  <input type="checkbox" name="is_check_tiktok" id="is_check_tiktok">
                {% endif %}
                <span onclick="is_check_tiktok()" class="slider round"></span>
              </label>
            </div>
            <div class="social-card__detail" id="is_check_tiktok_visible">
              <div class="social-card__detail__block-2">
                <label for="tiktokAccount">Tiktok Account</label>
                {% if shouter.tiktok_name %}
                  <input type="text" id="tiktokAccount" placeholder="@Your Tiktok Name" name="tiktok_name" value="{{ shouter.tiktok_name }}" />
                {% else %}
                  <input type="text" id="tiktokAccount" placeholder="@Your Tiktok Name" name="tiktok_name" />
                {% endif %}
              </div>

              <div class="social-card__detail__block-2">
                <label for="tiktokPrice">ราคาขั้นต่ำต่องาน</label>
                {% if shouter.tiktok_price %}
                  <input type="number" id="tiktokPrice" placeholder="100 บาท" name="tiktok_price" value="{{ shouter.tiktok_price }}" />
                {% else %}
                  <input type="number" id="tiktokPrice" placeholder="100 บาท" name="tiktok_price" />
                {% endif %}
              </div>
            </div>
          </div>

          <div class="social-card">
            <div class="social-card__header">
              <div class="social-card__name">
                <svg class="social-card__icon">
                  <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-twitter"></use>
                </svg>
                <h3>Twitter</h3>
              </div>
              <label class="social-card__switch">
                {% if shouter.is_check_twitter %}
                  <input type="checkbox" name="is_check_twitter" checked>
                {% else %}
                  <input type="checkbox" name="is_check_twitter">
                {% endif %}
                <span onclick="is_check_twitter()" class="slider round"></span>
              </label>
            </div>
            <div class="social-card__detail" id="is_check_twitter_visible">
              <div class="social-card__detail__block-2">
                <label for="twitterAccount">Twitter Account</label>
                {% if shouter.twitter_name %}
                  <input type="text" id="twitterAccount" placeholder="@Your Twitter Name" name="twitter_name" value="{{ shouter.twitter_name }}" />
                {% else %}
                  <input type="text" id="twitterAccount" placeholder="@Your Twitter Name" name="twitter_name"/>
                {% endif %}
              </div>

              <div class="social-card__detail__block-2">
                <label for="twitterPrice">ราคาขั้นต่ำต่องาน</label>
                {% if shouter.twitter_price %}
                  <input type="number" id="twitterPrice" placeholder="100 บาท" name="twitter_price" value="{{ shouter.twitter_price }}" />
                {% else %}
                  <input type="number" id="twitterPrice" placeholder="100 บาท" name="twitter_price" />
                {% endif %}
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-main btn-shouter ">
            บันทึก
          </button>

        </div>
      </form>



    </main>
  </section>
</body>

</html>