{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- J query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
      function submitForm() {
        {#const form = document.getElementById("#registration")#}
        const first_name = $('#first_name').val();
        const last_name = $('#last_name').val();
        const nickname = $('#nickname').val();
        const email = $('#email').val();
        const tel = $('#tel').val();
        const gender = $("input[type='radio'][name='gender']:checked").val();
        const birthday_date = $('#birthday_date').val();
        const birthday_month = $('#birthday_month').val();
        const birthday_year = $('#birthday_year').val();
        const province = $('#province').val();
        const education = $('#education').val();
        const college = $('#college').val();
        const interest = $('#interest').val();

        if (first_name.trim() === '' || last_name.trim() === '' ||
          nickname.trim() === '' || email.trim() === '' || tel.trim() === '' || gender === undefined ||
          birthday_date.trim() === '' || birthday_month.trim() === '' || birthday_year.trim() === '' ||
          province.trim() === '' || education.trim() === '' || college.trim() === '' || interest.length === 0) {
          alert('Please fill in all information.');
        } else {
          if(interest.length > 5) {
            alert('Please choose max to 5 interest');
          } else {
            $("#registration").submit();
          }
        }
      }

    </script>
    <!-- Title -->
    <title>Shout | Register</title>
</head>
<body>
    <section class="container">
        <section class="social-media-list">
            <a href="{% url 'shouter__menu' token %}">
                <svg class="social-media-list__icon-back">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-left"></use>
                </svg>
            </a>
            <div class="social-media-list__header">
                <p>แก้ไขข้อมูลส่วนตัว</p>
            </div>
        </section>

        <main class="register__info">
            {% if warning %}
                <p class="register__info__header__subtext" style="color: red">** {{ warning }} **</p>
            {% endif %}

            <section class="register__form" id="register">
                <p class="register__form__header__text">รูปโปรไฟล์</p>
                <div class="register__form__header">
                    <img src="{{ shouter.line_profile_picture }}" alt="" class="register__form__image">
                </div>
                <form action="{% url 'shouter__menu__edit-profile' token %}" method="POST" class="register__form__input" name="registration" id="registration"> {% csrf_token %}
                    <!-- Firstname -->
                    <label for="first_name">ชื่อจริง <span>*</span></label>
                    <div id="messageBox"></div>
                    <input type="text" id="first_name" name="first_name" placeholder="Your firstname" value="{{ shouter.first_name }}">

                    <!-- Lastname -->
                    <label for="last_name">นามสกุล <span>*</span></label>
                    <div id="messageBox"></div>
                    <input type="text" id="last_name" name="last_name" placeholder="Your surname" value="{{ shouter.last_name }}">

                    <!-- Nickname -->
                    <label for="nickname">ชื่อเล่น <span>*</span></label>
                    <div id="messageBox"></div>
                    <input type="text" id="nickname" name="nickname" placeholder="Your nickname" value="{{ shouter.nickname }}">

                    <!-- Email -->
                    <label for="email">Email ติดต่อ <span>*</span></label>
                    <div id="messageBox"></div>
                    <input type="email" id="email" name="email" placeholder="contact@shoutsolution.com" value="{{ shouter.email }}" style="font-size: 16px">

                    <!-- Tel -->
                    <label for="tel">เบอร์โทรติดต่อ <span>*</span></label>
                    <div id="messageBox"></div>
                    <input type="tel" id="tel" name="tel" placeholder="000-000-0000" value="{{ shouter.tel }}" style="font-size: 16px">

                    <!-- Gender -->
                    <p>เพศ <span>*</span></p>
                    <div id="errorGender"></div>
                    <div class="register__form__input__radio">
                        {% if shouter.gender == 'female' %}
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="female" name="gender" value="female" checked>
                                <label for="female">หญิง</label>
                            </div>
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male">ชาย</label>
                            </div>
                            <div class="register__form__input__radio__choice register__form__input__radio__choice__last">
                                <input type="radio" id="alternative" name="gender" value="alternative">
                                <label for="alternative">เพศทางเลือก</label>
                            </div>
                        {% elif shouter.gender == 'male' %}
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female">หญิง</label>
                            </div>
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="male" name="gender" value="male" checked>
                                <label for="male">ชาย</label>
                            </div>
                            <div class="register__form__input__radio__choice register__form__input__radio__choice__last">
                                <input type="radio" id="alternative" name="gender" value="alternative">
                                <label for="alternative">เพศทางเลือก</label>
                            </div>
                        {% else %}
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female">หญิง</label>
                            </div>
                            <div class="register__form__input__radio__choice">
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male">ชาย</label>
                            </div>
                            <div class="register__form__input__radio__choice register__form__input__radio__choice__last">
                                <input type="radio" id="alternative" name="gender" value="alternative" checked>
                                <label for="alternative">เพศทางเลือก</label>
                            </div>
                        {% endif %}
                    </div>

                    <!-- Birthday -->
                    <p>วัน/เดือน/ปี เกิด <span>*</span></p>
                    <div class="register__form__input__select">
                        <select name="birthday_date" id="birthday_date">
                            {% for date_list in date_lists %}
                                {% if shouter.birthday_date == date_list %}
                                    <option value={{ date_list }} selected>{{ date_list }}</option>
                                {% else %}
                                    <option value={{ date_list }}>{{ date_list }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="birthday_month" id="birthday_month">
                            {% for month_list in month_lists %}
                                {% if shouter.birthday_month == month_list %}
                                    <option value={{ month_list }} selected>{{ month_list }}</option>
                                {% else %}
                                    <option value={{ month_list }}>{{ month_list }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <select name="birthday_year" id="birthday_year">
                            {% for year_list in year_lists %}
                                {% if shouter.birthday_year == year_list %}
                                    <option value={{ year_list }} selected>{{ year_list }}</option>
                                {% else %}
                                    <option value={{ year_list }}>{{ year_list }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Province -->
                    <p>จังหวัดที่อาศัยอยู่ปัจจุบัน <span>*</span></p>
                    <div class="register__form__input__province">
{#                        <svg class="register__form__input__province__icon">#}
{#                            <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-location"></use>#}
{#                        </svg>#}
{#                        <p class="register__form__input__province__text">Thailand</p>#}
                        <select name="province" id="province">
                            {% for foo in thailand_provinces %}
                                {% if shouter.province == foo %}
                                    <option value={{ foo.province }} selected>{{ foo.province }}</option>
                                {% else %}
                                    <option value={{ foo.province }}>{{ foo.province }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Education -->
                    <p>การศึกษาล่าสุด หรือ กำลังศึกษา <span>*</span></p>
                    <div class="register__form__input__education">
                        <select name="education" id="education">
                            {% for foo in education_lists %}
                                {% if shouter.education == foo %}
                                    <option value={{ foo }} selected>{{ foo }}</option>
                                {% else %}
                                    <option value={{ foo }}>{{ foo }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!-- College -->
                    <label for="college">สถานศึกษาล่าสุด <span>*</span></label>
                    <input type="text" id="college" name="college" placeholder="ระบุสถานศึกษา" value="{{ shouter.college }}">

                    <!-- Interest -->
                    <label class="register__form__input__interest__text" >หมวดหมู่ความสนใจ (มากสุด 5) <span>*</span></label>
                    <select id="interest" name="interest" class="custom-select" multiple>
                        {% if 'technology_gadget' in shouter.interest %}
                            <option value="technology_gadget" selected>📱 Technology & Gadget</option>
                        {% else %}
                            <option value="technology_gadget">📱 Technology & Gadget</option>
                        {% endif %}
                        {% if 'social_csr' in shouter.interest %}
                            <option value="social_csr" selected>⭐️ Social & CSR</option>
                        {% else %}
                            <option value="social_csr">⭐️ Social & CSR</option>
                        {% endif %}
                        {% if 'entertainment' in shouter.interest %}
                            <option value="entertainment" selected>🎸 Entertainment</option>
                        {% else %}
                            <option value="entertainment">🎸 Entertainment</option>
                        {% endif %}
                        {% if 'finance_investment' in shouter.interest %}
                            <option value="finance_investment" selected>💰 Finance & Investment</option>
                        {% else %}
                            <option value="finance_investment">💰 Finance & Investment</option>
                        {% endif %}
                        {% if 'lifestyle' in shouter.interest %}
                            <option value="lifestyle" selected>🌻 Lifestyle</option>
                        {% else %}
                            <option value="lifestyle">🌻 Lifestyle</option>
                        {% endif %}
                        {% if 'fashion' in shouter.interest %}
                            <option value="fashion" selected>👗 Fashion</option>
                        {% else %}
                            <option value="fashion">👗 Fashion</option>
                        {% endif %}
                        {% if 'automobile' in shouter.interest %}
                            <option value="automobile" selected>🚘 Automobile</option>
                        {% else %}
                            <option value="automobile">🚘 Automobile</option>
                        {% endif %}
                        {% if 'food_drink' in shouter.interest %}
                            <option value="food_drink" selected>🍔 Food & Drink</option>
                        {% else %}
                            <option value="food_drink">🍔 Food & Drink</option>
                        {% endif %}
                        {% if 'beauty' in shouter.interest %}
                            <option value="beauty" selected>💄 Beauty</option>
                        {% else %}
                            <option value="beauty">💄 Beauty</option>
                        {% endif %}
                        {% if 'travel' in shouter.interest %}
                            <option value="travel" selected>✈️ Travel</option>
                        {% else %}
                            <option value="travel">✈️ Travel</option>
                        {% endif %}
                        {% if 'health_sport' in shouter.interest %}
                            <option value="health_sport" selected>🏀 Health & Sport</option>
                        {% else %}
                            <option value="health_sport">🏀 Health & Sport</option>
                        {% endif %}
                        {% if 'design_art' in shouter.interest %}
                            <option value="design_art" selected>🎨 Design & Art</option>
                        {% else %}
                            <option value="design_art">🎨 Design & Art</option>
                        {% endif %}
                        {% if 'luxury' in shouter.interest %}
                            <option value="luxury" selected>👜 Luxury</option>
                        {% else %}
                            <option value="luxury">👜 Luxury</option>
                        {% endif %}
                    </select>

                  <span class="btn-main btn-shouter" style="text-align: center" onclick="submitForm()">บันทึก</span>
                </form>
            </section>
        </main>
    </section>

    <script src="{% static 'js/custom-select.js' %}"></script>

</body>
</html>