{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="{% static 'js/main.js' %}" defer></script>
    <!-- Title -->
    <title>Shout | Register</title>
</head>
<body>
    <section class="container" id="choose_social">
        <section class="social-media-list">
            <a href="{% url 'shouter__menu' token %}">
                <svg class="social-media-list__icon-back">
                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-cheveron-left"></use>
                </svg>
            </a>
            <div class="social-media-list__header">
                <p>งานที่เปิดรับ</p>
            </div>
        </section>

        <main class="content-2">
            <form action="{% url 'shouter__menu__work-selection' token %}" method="POST"> {% csrf_token %}
                <div class="content-2__body">
                    <div class="register__account-summary__warning">
                        <p class="register__account-summary__warning__icon">⭐️</p>
                        <p class="register__account-summary__warning__text">ราคาจะมีการปรับเปลี่ยนอยู่ตลอดเวลา ตามข้อมูล Instagram และผลลัพธ์การ ทำงานของคุณ</p>
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                                </svg>
                                <h3>Instagram</h3>
                            </div>
                            <label class="social-card__switch">
                                <input type="checkbox" name="is_check_ig" checked>
                                <span @click="instagramToggle" class="slider round"></span>
                            </label>
                        </div>
                        <div class="social-card__detail" v-if="instagramIsVisible">
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>Instagram Story</p>
                                  <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_fc|intcomma }}</span> - <span>{{ shouter.ig_price_story_ugc|intcomma }}</span> บาท ต่อ 1 Story</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_story" checked>
                                </div>
                            </div>
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>Instagram Post</p>
                                    <p class="social-card__detail__sub"><span>{{ shouter.ig_price_post_fc|intcomma }}</span> - <span>{{ shouter.ig_price_post_ugc|intcomma }}</span> บาท ต่อ 1 Post</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_post" checked>
                                </div>
                            </div>
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>Instagram Post + Story</p>
                                    <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_post_fc|intcomma }}</span> - <span>{{ shouter.ig_price_story_post_ugc|intcomma }}</span> บาท ต่อ 1 Post + Story</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_story_post" checked>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                                </svg>
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-facebook"></use>
                                </svg>
                                <h3>IG + FB Share</h3>
                            </div>
                            <label class="social-card__switch">
                                <input type="checkbox" name="is_check_ig_fb" checked>
                                <span @click="igFbShareToggle" class="slider round"></span>
                            </label>
                        </div>
                        <div class="social-card__detail" v-if="igFbShareIsVisible">
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>IG Story + แชร์ลง FB Story</p>
                                    <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_fc|intcomma }}</span> - <span>{{ shouter.ig_fb_price_story_ugc|intcomma }}</span> บาท</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_fb_story" checked>
                                </div>
                            </div>
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>IG Post + แชร์ลง FB Post </p>
                                    <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_post_fc|intcomma }}</span> - <span>{{ shouter.ig_fb_price_post_ugc|intcomma }}</span> บาท</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_fb_post" checked>
                                </div>
                            </div>
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>IG Post + Story และ แชร์ลง FB Post + FB Story</p>
                                    <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_post_fc|intcomma }}</span> - <span>{{ shouter.ig_fb_price_story_post_ugc|intcomma }}</span> บาท</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <input type="checkbox" name="is_check_ig_fb_story_post" checked>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-tiktok"></use>
                                </svg>
                                <h3>Tiktok</h3>
                            </div>
                            <label class="social-card__switch">
                                <input type="checkbox" name="is_check_tiktok">
                                <span @click="tiktokToggle" class="slider round"></span>
                            </label>
                        </div>
                        <div class="social-card__detail" v-if="tiktokIsVisible">
                            <div class="social-card__detail__block-2">
                                <label for="tiktokAccount">Tiktok Account</label>
                                <input type="text" id="tiktokAccount" placeholder="@Your Tiktok Name" name="tiktok_name"/>
                            </div>

                            <div class="social-card__detail__block-2">
                                <label for="tiktokPrice">ราคาขั้นต่ำต่องาน</label>
                                <input type="number" id="tiktokPrice" placeholder="100 บาท" name="tiktok_price"/>
                            </div>
                        </div>
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-twitter"></use>
                                </svg>
                                <h3>Twitter</h3>
                            </div>
                            <label class="social-card__switch">
                                <input type="checkbox" name="is_check_twitter">
                                <span @click="twitterToggle" class="slider round"></span>
                            </label>
                        </div>
                        <div class="social-card__detail" v-if="twitterIsVisible">
                            <div class="social-card__detail__block-2">
                                <label for="twitterAccount">Twitter Account</label>
                                <input type="text" id="twitterAccount" placeholder="@Your Twitter Name" name="twitter_name"/>
                            </div>

                            <div class="social-card__detail__block-2">
                                <label for="twitterPrice">ราคาขั้นต่ำต่องาน</label>
                                <input type="number" id="twitterPrice" placeholder="100 บาท" name="twitter_price"/>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-main btn-shouter ">
                        บันทึก
                    </button>

                </div>
            </form>



        </main>
    </section>
</body>
</html>