{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
    <script src="{% static 'js/main.js' %}" defer></script>
    <!-- Title -->
    <title>Shout | Register</title>
</head>
<body>
    <section class="container">
        <section class="register__top">
            <svg class="register__top__icon">
                <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
            </svg>
            <h1 class="register__top__header">Connect Your Instagram!</h1>
        </section>

        <section class="register__stage">
            <div class="register__stage__block">
                <div class="register__stage__number">
                    <svg class="register__stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="register__stage__text">ข้อมูลส่วนตัว</p>
            </div>

            <div class="register__stage__block">
                <div class="register__stage__number">
                    <p>2</p>
                </div>
                <p class="register__stage__text">เชื่อมต่อ Social Media</p>
            </div>

            <div class="register__stage__block">
                <div class="register__stage__number register__stage__number__disable">
                    <p>3</p>
                </div>
                <p class="register__stage__text register__stage__text__disable">ยืนยันบัญชี</p>
            </div>
        </section>

        <main class="register__info">
            <div class="register__info__header">
                <h1 class="register__info__header__text">วิธีการเชื่อมต่อ Instagram ง่ายๆ เพียง 4 ขั้นตอน</h1>
            </div>

            <div class="register__info__body">
                <div class="register__info__block">
                    <div class="register__info__body__text">
                        <h1 class="register__info__body__text__main">2. กลับสู่ Shout! เพื่อเชื่อมต่อ IG ผ่าน Facebook API</h1>
                        <h2 class="register__info__body__text__sub">
                            เมื่อ IG เป็น Business หรือ Creator Account แล้ว IG ของคุณจะถูกผูกกับ Facebook Page ของคุณ (ตามนโยบายของ Facebook)
                        </h2>
                    </div>
                    <img src="{% static 'img/shouters/register__info-4-1.png' %}" alt="" class="register__info__image-full">
                    <div class="register__info__btn__container">
                        <a href="{% url 'shouter__register__info-3' token %}" class="register__info__btn register__info__btn__next-2">
                            ย้อนกลับ
                        </a>
                        <a href="{% url 'shouter__register__info-5' token %}" class="register__info__btn register__info__btn__next-2">
                            ถัดไป
                        </a>
                    </div>

                </div>
            </div>

        </main>

    </section>


</body>
</html>