{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!--    <script src="https://unpkg.com/vue@next" defer></script>-->
<!--    <script src="js/main.js" defer></script>-->
    <!-- Title -->
    <title>Shout | Finished Registration</title>
</head>
<body>
    <section class="container">
        <section class="top">
            <h1 class="top__logo">&#127881;</h1>
            <h1 class="top__header">Finished!!</h1>
        </section>

        <section class="stage">
            <div class="stage__block">
                <div class="stage__number">
                    <svg class="stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="stage__text">ข้อมูลส่วนตัว</p>
            </div>

            <div class="stage__block">
                <div class="stage__number">
                    <svg class="stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="stage__text">เชื่อมต่อ Social Media</p>
            </div>

            <div class="stage__block">
                <div class="stage__number">
                    <svg class="stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="stage__text">ยืนยันบัญชี</p>
            </div>
        </section>

        <main class="content-2">
            <div class="content-2__header">
                <h2>เสร็จสิ้นการสมัครเป็น Shouter !</h2>
                <h2>&#127881; &#127881; &#127881;</h2>
            </div>

            <div class="content-2__body">

                <div class="register-finished">
                    <div class="register-finished__icon"></div>
                </div>

                <p class="register-finished__text">
                    ทีมงานจะตรวจสอบข้อมูลบัญชี Shouter ของท่านเพื่อทำการอนุมัติ จะแจ้งผลให้ทราบอีกครั้งผ่านทาง Shout - Line Official
                    ท่านสามารถปิดหน้าต่างนี้ได้เลย
                </p>

                <a href="{% url 'shouter__menu' token %}" style="text-align: center; font-size: 4rem">
                    Back to Shouter Menu
                </a>

            </div>



        </main>



    </section>


</body>
</html>