{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!--    <script src="https://unpkg.com/vue@next" defer></script>-->
<!--    <script src="js/main.js" defer></script>-->
    <!-- Title -->
    <title>Shout | Account Summary</title>
</head>
<body>
    <section class="container">
        <section class="register__top">
            <h1 class="register__top__logo">&#9989;</h1>
            <h1 class="register__top__header">ตรวจสอบข้อมูลบัญชี Shouter ของคุณให้ถูกต้อง</h1>
        </section>

        <section class="register__stage">
            <div class="register__stage__block">
                <div class="register__stage__number">
                    <svg class="register__stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="register__stage__text">ข้อมูลส่วนตัว</p>
            </div>

            <div class="register__stage__block">
                <div class="register__stage__number">
                    <svg class="register__stage__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                    </svg>
                </div>
                <p class="register__stage__text">เชื่อมต่อ Social Media</p>
            </div>

            <div class="register__stage__block">
                <div class="register__stage__number">
                    <p>3</p>
                </div>
                <p class="register__stage__text">ยืนยันบัญชี</p>
            </div>
        </section>

        <main class="content-2">

            <div class="content-2__body">
                <div class="register__account-summary__warning" style="background-color: #F8F0F6; justify-content: center; margin-top: 20px">
                    <p class="register__account-summary__warning__text" style="font-weight: 700; color: #2C2C2C; font-size: 20px">Work Selected</p>
                </div>

                <div class="register__account-summary__warning">
                    <p class="register__account-summary__warning__icon">⭐️</p>
                    <p class="register__account-summary__warning__text">ราคาจะมีการปรับเปลี่ยนอยู่ตลอดเวลา ตามข้อมูล Instagram และผลลัพธ์การ ทำงานของคุณ</p>
                </div>

                {% if not shouter.is_check_ig and not shouter.is_check_ig_fb and not shouter.is_check_tiktok and not shouter.is_check_twitter %}

                    <div class="social-card">
                        <div class="social-card__header" style="display: flex; justify-content: center; color: #801B69;">
                            <div class="social-card__name">
                                <h3 style="font-size: 24px;">ยังไม่เปิดรับงาน</h3>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                                </svg>
                                <h3>Instagram</h3>
                            </div>
                        </div>
                        {% if not shouter.is_check_ig %}
                            <p style="text-align: center">ยังไม่เปิดรับงาน</p>
                        {% else %}
                            <div class="social-card__detail">
                            {% if shouter.is_check_ig_story %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>Instagram Story</p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_fc }} - {{ shouter.ig_price_story_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Story</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if shouter.is_check_ig_post %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>Instagram Post</p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_price_post_fc }} - {{ shouter.ig_price_post_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Post</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if shouter.is_check_ig_story_post %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>Instagram Post + Story</p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_price_story_post_fc }} - {{ shouter.ig_price_story_post_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Post + Story</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                                </svg>
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-facebook"></use>
                                </svg>
                                <h3>IG + FB Share</h3>
                            </div>
                        </div>
                        {% if not shouter.is_check_ig_fb %}
                            <p style="text-align: center">ยังไม่เปิดรับงาน</p>
                        {% else %}
                            <div class="social-card__detail">
                            {% if shouter.is_check_ig_fb_story %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>IG Story + แชร์ลง FB Story</p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_fc }} - {{ shouter.ig_fb_price_story_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Story</p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if shouter.is_check_ig_fb_post %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>IG Post + แชร์ลง FB Post </p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_post_fc }} - {{ shouter.ig_fb_price_post_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Post</p>
                                    </div>
                                </div>
                            {% endif %}

                            {% if shouter.is_check_ig_fb_story_post %}
                                <div class="social-card__detail__block">
                                    <div class="social-card__detail__name">
                                        <p>IG Post + Story และ แชร์ลง FB Post + FB Story</p>
                                    </div>
                                    <div class="social-card__detail__checkbox">
                                        <p class="social-card__detail__sub"><span>{{ shouter.ig_fb_price_story_post_fc }} - {{ shouter.ig_fb_price_story_post_ugc }} บาท</span></p>
                                        <p class="social-card__detail__sub">ต่อ 1 Post + Story</p>
                                    </div>
                                </div>
                            {%  endif %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-tiktok"></use>
                                </svg>
                                <h3>Tiktok</h3>
                            </div>
                        </div>
                        {% if not shouter.is_check_tiktok %}
                            <p style="text-align: center">ยังไม่เปิดรับงาน</p>
                        {% else %}
                            <div class="social-card__detail">
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>@{{ shouter.tiktok_name }}</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <p class="social-card__detail__sub"><span>{{ shouter.tiktok_price }} บาท</span></p>
                                    <p class="social-card__detail__sub">ต่อ 1 Video</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-twitter"></use>
                                </svg>
                                <h3>Twitter</h3>
                            </div>
                        </div>
                        {% if not shouter.is_check_twitter %}
                            <p style="text-align: center">ยังไม่เปิดรับงาน</p>
                        {% else %}
                            <div class="social-card__detail">
                            <div class="social-card__detail__block">
                                <div class="social-card__detail__name">
                                    <p>@{{ shouter.twitter_name }}</p>
                                </div>
                                <div class="social-card__detail__checkbox">
                                    <p class="social-card__detail__sub"><span>{{ shouter.twitter_price }} บาท</span></p>
                                    <p class="social-card__detail__sub">ต่อ 1 Tweet</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                {% endif %}

                <div class="register__account-summary__warning" style="background-color: #F8F0F6; justify-content: center; margin-top: 20px">
                    <p class="register__account-summary__warning__text" style="font-weight: 700; color: #2C2C2C; font-size: 20px">Your Social Media</p>
                </div>
                <div class="social-card">
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <svg class="social-card__icon">
                                <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-instagram"></use>
                            </svg>
                            <h3>Instagram</h3>
                        </div>
                    </div>
                    <div class="social-card__detail">
                        <div class="social-card__container__top">
                            <img src="{{ shouter.ig_profile_picture }}" alt="" style="width: 15rem; height: 15rem; border-radius: 50%">
                            <div class="social-card__container__top__detail">
                                <p class="social-card__container__top__detail__main">@{{ shouter.ig_username }}</p>
                                <p>IG Business Account</p>
                            </div>
                        </div>

                        <div class="social-card__container__middle">
                            <div class="social-card__container__middle__detail">
                                <p class="social-card__container__middle__detail__main">{{ shouter.ig_media_count }}</p>
                                <p>Posts</p>
                            </div>

                            <div class="social-card__container__middle__detail">
                                <p class="social-card__container__middle__detail__main">{{ shouter.ig_follower_count }}</p>
                                <p>Followers</p>
                            </div>

                            <div class="social-card__container__middle__detail">
                                <p class="social-card__container__middle__detail__main">{{ shouter.ig_following_count }}</p>
                                <p>Followings</p>
                            </div>
                        </div>

                        <h2 class="social-card__container__text">Insights</h2>

                        <div class="social-card__container__bottom">
                            <div class="social-card__container__bottom__block">
                                <p>Active Follower <span>(Rate)</span></p>
                                <p>{{ shouter.ig_active_follower }} <span>({{ shouter.ig_active_follower_percent }}%)</span></p>
                            </div>
                            <div class="social-card__container__bottom__block">
                                <p>Engagement <span>(Rate)</span></p>
                                <p>{{ shouter.ig_average_total_like }} <span>({{ shouter.ig_engagement_percent }}%)</span></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="social-card">
                    <div class="social-card__header">
                        <div class="social-card__name">
                            <svg class="social-card__icon">
                                <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-facebook"></use>
                            </svg>
                            <h3>Facebook</h3>
                        </div>
                    </div>
                    <div class="social-card__detail">
                        <div class="social-card__container__top">
                            <img src="{{ shouter.fb_profile_picture }}" alt="" style="width: 15rem; height: 15rem; border-radius: 50%">
                            <div class="social-card__container__top__detail">
                                <p class="social-card__container__top__detail__main">{{ shouter.fb_name }}</p>
                                <p>Facebook Account</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if shouter.is_check_tiktok %}
                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-tiktok"></use>
                                </svg>
                                <h3>Tiktok</h3>
                            </div>
                        </div>
                        <div class="social-card__detail">
                            <div class="social-card__container__top">
                                <div class="social-card__container__top__detail">
                                    <p class="social-card__container__top__detail__main">{{ shouter.tiktok_name }}</p>
                                    <p>Tiktok Account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if shouter.is_check_twitter %}
                    <div class="social-card">
                        <div class="social-card__header">
                            <div class="social-card__name">
                                <svg class="social-card__icon">
                                    <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-twitter"></use>
                                </svg>
                                <h3>Twitter</h3>
                            </div>
                        </div>
                        <div class="social-card__detail">
                            <div class="social-card__container__top">
                                <div class="social-card__container__top__detail">
                                    <p class="social-card__container__top__detail__main">{{ shouter.twitter_name }}</p>
                                    <p>Twitter Account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}



                <div class="register__account-summary__warning" style="background-color: #F8F0F6; justify-content: center; margin-top: 20px">
                    <p class="register__account-summary__warning__text" style="font-weight: 700; color: #2C2C2C; font-size: 20px">Your Shouter Account</p>
                </div>

                <div class="register__account-summary__shouter-account">
                    <div class="register__account-summary__shouter-account__top">
                        <img src="{{ shouter.ig_profile_picture }}" alt="" style="width: 15rem; height: 15rem; border-radius: 50%">
                        <div class="register__account-summary__shouter-account__top__right">
                            <p class="register__account-summary__text-grey">ชื่อจริง - นามสกุล</p>
                            <p>{{ shouter.first_name }} {{ shouter.last_name }}</p>
                            <p class="register__account-summary__text-grey">Email ติดต่อ</p>
                            <p>{{ shouter.email }}</p>
                            <p class="register__account-summary__text-grey">เบอร์โทรติดต่อ</p>
                            <p>{{ shouter.tel }}</p>
                        </div>
                    </div>
                    <div class="register__account-summary__shouter-account__detail">
                        <p class="register__account-summary__text-grey">เพศ</p>
                        <p>{{ shouter.gender }}</p>
                    </div>
                    <div class="register__account-summary__shouter-account__detail">
                        <p class="register__account-summary__text-grey">วัน/เดือน/ปี เกิด</p>
                        <p>{{ shouter.birthday_date }}/{{ shouter.birthday_month }}/{{ shouter.birthday_year }}</p>
                    </div>
                    <div class="register__account-summary__shouter-account__detail">
                        <p class="register__account-summary__text-grey">จังหวัดที่อาศัยปัจจุบัน</p>
                        <p>{{ shouter.province }}</p>
                    </div>
                    <div class="register__account-summary__shouter-account__detail">
                        <p class="register__account-summary__text-grey">การศึกษาล่าสุด</p>
                        <p>{{ shouter.college }}</p>
                    </div>
                    <div class="register__account-summary__shouter-account__detail">
                        <p class="register__account-summary__text-grey">หมวดหมู่ความสนใจ</p>
                    </div>
                    <div class="register__account-summary__shouter-account__interest">
                        {% for foo in interest %}
                            <p class="register__account-summary__shouter-account__interest__box">
                                {{ foo }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <a href="{% url 'shouter__register__finished' token %}" class="btn btn-main btn-shouter">
                    Complete Registration
                </a>


                <div class="confirm_account__content">
                    <p class="confirm_account__content__text">By completing registration, you are agreed to our
                        <br>
                        <a href="https://drive.google.com/file/d/1Rm1Te3h2vVEPhnaIbsSrBWNRjj1UA_8U/view?usp=sharing">Terms & conditions</a> and
                        <a href="{% url 'privacy_policy' %}">Privacy policy</a>
                    </p>
                </div>
            </div>

        </main>

    </section>


</body>
</html>