{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo/Shout_Logov2-07.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Vue Framework -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<!--    <script src="https://unpkg.com/vue@next" defer></script>-->
<!--    <script src="js/main.js" defer></script>-->
    <!-- Title -->
    <title>Shout | Register</title>
</head>
<body>
    <section class="container">
        <img src="{% static 'img/logo/Shout_Logov2-01.png' %}" alt="" class="logo__mobile">

        <main class="register__worry-free">
            <section class="register__worry-free__header">
                <h2 class="register__worry-free__header__main">Worry Free</h2>
                <h2 class="register__worry-free__header__main">Registration</h2>
                <h5 class="register__worry-free__header__sub">ข้อมูลทุกอย่างจะถูกเก็บเป็นความลับ</h5>
                <h5 class="register__worry-free__header__sub">ให้คุณได้หมดห่วงเรื่องความปลอดภัย</h5>
            </section>

            <section class="register__worry-free__content">
                <h2 class="register__worry-free__content__header">3 ขั้นตอนการสมัครง่ายๆ</h2>

                <div class="register__worry-free__content__box">
                    <svg class="register__worry-free__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-profile"></use>
                    </svg>
                    <div class="register__worry-free_content__box__body">
                        <h2 class="register__worry-free__content__box__body__main">1. กรอกข้อมูลส่วนตัว</h2>
                        <p class="register__worry-free__content__box__body__text">
                            และข้อมูลส่วนตัว
                        </p>
                    </div>
                </div>

                <div class="register__worry-free__content__box">
                    <svg class="register__worry-free__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-link"></use>
                    </svg>
                    <div class="register__worry-free_content__box__body">
                        <h2 class="register__worry-free__content__box__body__main">2. เชื่อมต่อ Social Media</h2>
                        <p class="register__worry-free__content__box__body__text">
                            เพื่อทำการคำนวณราคาจาก Media Performance (เช่น Followers, Likes, Engagement, Reach, etc.) และ เลือกประเภทงานที่ต้องการเปิดรับ
                        </p>
                        <p class="register__worry-free__content__box__body__extra">
                            *เชื่อมต่อด้วย API จาก Facebook, Shout ไม่สามารถเข้าถึงรหัส Social Media ใดๆของคุณ การันตีเรื่องความปลอดภัย 100%
                        </p>
                    </div>
                </div>

                <div class="register__worry-free__content__box">
                    <svg class="register__worry-free__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-clipboard"></use>
                    </svg>
                    <div class="register__worry-free_content__box__body">
                        <h2 class="register__worry-free__content__box__body__main">3. ตรวจสอบข้อมูล และ ยืนยันการสมัคร</h2>
                        <p class="register__worry-free__content__box__body__text">
                            (ข้อมูลส่วนตัว, ข้อมูล Social Media, ราคาประเมิน, ประเภทงานที่เปิดรับ)
                        </p>
                    </div>
                </div>
            </section>

            <a href="{% url 'shouters-register' token %}" class="btn-shouter btn-main" style="text-align: center; text-decoration: none;">
                เข้าใจแล้ว เริ่มเลย!
            </a>
        </main>
    </section>

</body>
</html>