{% extends "campaigns/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block script %}
  <!-- J query -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- Main Script -->
  <script src="{% static 'js/campaigns/create/content_type.js' %}"></script>
  {% endblock %}
  {% block title %} Create Campaign {% endblock %}
</head>
<body>
  {% block content %}
    <!-- Breadcrumb -->
    <section class="campaign__create__breadcrumb">
      <!--1-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Campaign Name</p>
        </div>
      </div>
      <!--2-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Scope & Budget</p>
        </div>
      </div>
      <!--3-->
      <div class="campaign__create__breadcrumb__active">
        <div class="campaign__create__breadcrumb__number">
          <p>3</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Content Type</p>
        </div>
      </div>
      <!--4-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>4</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Product Detail</p>
        </div>
      </div>
      <!--5-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>5</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Target Customer</p>
        </div>
      </div>
      <!--6-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>6</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Shouter Selection</p>
        </div>
      </div>
      <!--7-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>7</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Timeline</p>
        </div>
      </div>
      <!--8-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>8</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Brief</p>
        </div>
      </div>
    </section>

    <!-- Form -->
    <form action="" method="POST"> {% csrf_token %}
      <!-- Right Bar -->  
      <section class="campaign__create__rightbar">
        <div class="campaign__create__rightbar__detail">
          <div class="campaign__create__rightbar__detail__box">
            <header>Campaign Name</header>
            <!-- Budget -->
            <div class="campaign__create__rightbar__detail__data budget">
              <span class="bold">Budget</span>
              <h4>100,000</h4>
            </div>
            <!-- Social Media -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Social Media</span>
              <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="">
            </div>
            <!-- Shouter Count -->
            <div class="campaign__create__rightbar__detail__data">
              <span>ได้ Shouter</span>
              <p>10 - 20 คน</p>
            </div>
            <!-- Estimated Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Estimate Reach</span>
              <p>10,000 - 20,000 reach</p>
            </div>
            <!-- Cost Per Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Social Media</span>
              <p>3 บาท</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>Work Format</header>
            <!-- รูปแบบโพส -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบโพส</span>
              <p>-</p>
            </div>
            <!-- รูปแบบการบอกต่อ -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบการบอกต่อ</span>
              <p>-</p>
            </div>
            <!-- จำนวน -->
            <div class="campaign__create__rightbar__detail__data">
              <span>จำนวน</span>
              <p>-</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>
              <img src="{% static 'img/campaigns/icon_kpi_commitment.png' %}" alt="">
              <span>KPI Commitment</span>
            </header>
            <!-- Commit At -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Commit At</span>
              <p>-</p>
            </div>
          </div>
        </div>
        <div class="campaign__create__rightbar__button">
          <button class="w100pc btn__orange" type="button" onclick="show_modal()">ขั้นตอนถัดไป</button>
        </div>
      </section>

      <!-- Content -->
      <section class="campaign__create__content">
        <div class="campaign__create__content__scope">

          <!-- Content Type-->
          <div class="campaign__card width_create_campaign_2">
            <h6 class="campaign__create__content__header">Content Type</h6>
            <p class="campaign__create__content__subheader">เลือกรูปแบบการบอกต่อที่ต้องการ</p>
          </div>

          <!-- Story -->
          <div class="campaign__card width_create_campaign">
            <h6 class="campaign__create__content__header">Story</h6>
            <div class="campaign__create__content__type">
              <!-- Prepared Content -->
              <div class="campaign__create__content__type__box activate" id="pc_box">
                <div class="campaign__create__content__type__box__radio">
                  <input type="radio" id="pc" name="story_type">
                  <label for="pc" onclick="story_selected('pc')">
                    <header>
                      <span>Prepared Content</span>
                      <button class="w180" id="story_pc_button" type="button">เลือก</button>
                      <button class="w180" id="story_pc_button_selected" type="button">
                        <p>เลือกแล้ว</p>
                        <svg class="campaign__create__content__scope__work_type__icon">
                          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                        </svg>
                      </button>
                    </header>
                    <div class="campaign__create__content__type__box__radio__detail">
                      <p>Shouters (ผู้บอกต่อ) จะนำ 
                        <span class="b violet">Content สำเร็จรูปจากทางแบรนด์ (Image or Video)</span> 
                        โพสท์ลงบน Story และเขียนบอกต่อตาม Key Message เหมาะกับแคมเปญที่ต้องการความโปรโมท Message ที่สั้นกระชับ รวดเร็ว 
                        <span class="b">เช่น Product Launching, Promotion & Flash Sales, etc.</span>
                      </p>
                    </div>
                    <div class="campaign__create__content__type__box__radio__subdetail">
                      <img src="{% static 'img/campaigns/create/campaign_content_type_1.png' %}" alt="">
                      <div class="campaign__create__content__type__box__radio__table">
                        <div class="campaign__create__content__type__box__radio__table__header">
                          <p>ประมาณผลลัพธ์</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Shouter</span>
                          <p>10 - 20 คน</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Reach</span>
                          <p>30,000 Reach</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Cost Per Reach</span>
                          <p>1.1 บาท</p>
                        </div>
                      </div>
                    </div>
                  </label>
                  <hr>
                </div>
                <div class="campaign__create__content__type__box__number">
                  <p class="text">จำนวน <span>(มากสุด 3 Story) *</span></p>
                  <div class="campaign__create__content__type__box__number__custom">
                    <p>1</p>
                  </div>
                </div>
              </div>
              <!-- User Generated Content-->
              <div class="campaign__create__content__type__box" id="ugc_box">
                <div class="campaign__create__content__type__box__radio">
                  <input type="radio" id="ugc" name="story_type">
                  <label for="ugc" onclick="story_selected('ugc')">
                    <header>
                      <span>User Generated</span>
                      <button class="w180" id="story_ugc_button" type="button">เลือก</button>
                      <button class="w180" id="story_ugc_button_selected" type="button">
                        <p>เลือกแล้ว</p>
                        <svg class="campaign__create__content__scope__work_type__icon">
                          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                        </svg>
                      </button>
                    </header>
                    <div class="campaign__create__content__type__box__radio__detail">
                      <p>Shouters (ผู้บอกต่อ) จะทำการ 
                        <span class="b violet">Production Content ขึ้นมาตาม Brief</span> 
                        ที่คุณต้องการ เหมาะกับแคมเปญที่ต้องการสื่อสาร Experience Sharing, User Review 
                        <span class="b">เช่น Hotel, Beauty, Skincare, FMCG, Etc.</span>
                      </p>
                    </div>
                    <div class="campaign__create__content__type__box__radio__subdetail">
                      <img src="{% static 'img/campaigns/create/campaign_content_type_2.png' %}" alt="">
                      <div class="campaign__create__content__type__box__radio__table">
                        <div class="campaign__create__content__type__box__radio__table__header">
                          <p>ประมาณผลลัพธ์</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Shouter</span>
                          <p>10 - 20 คน</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Reach</span>
                          <p>30,000 Reach</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Cost Per Reach</span>
                          <p>1.1 บาท</p>
                        </div>
                      </div>
                    </div>
                  </label>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- Post -->
          <div class="campaign__card width_create_campaign">
            <h6 class="campaign__create__content__header">Post</h6>
            <div class="campaign__create__content__type">
              <!-- Single Post -->
              <div class="campaign__create__content__type__box activate" id="single_box">
                <div class="campaign__create__content__type__box__radio">
                  <input type="radio" id="single" name="post">
                  <label for="single" onclick="post_selected('single')">
                    <header>
                      <span>Single Post</span>
                      <button class="w180" id="post_single_button" type="button">เลือก</button>
                      <button class="w180" id="post_single_button_selected" type="button">
                        <p>เลือกแล้ว</p>
                        <svg class="campaign__create__content__scope__work_type__icon">
                          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                        </svg>
                      </button>
                    </header>
                    <div class="campaign__create__content__type__box__radio__detail">
                      <p>
                        Shouters (ผู้บอกต่อ) จะทำการ 
                        <span class="b violet">ถ่ายและโพสท์ 1 รูป </span>
                        คู่กับสินค้า/บริการ พร้อมเขียนแคปชั่นบอกต่อตาม Brief ของคุณ เหมาะสำหรับแคมเปญที่ต้องการโปรโมทสื่อสารง่ายๆ และได้ Branding ไปในตัว 
                        <span class="b">เช่น Product Launching, Seasonal Campaign - Promotion, Branding Campaign, etc.</span>
                      </p>
                    </div>
                    <div class="campaign__create__content__type__box__radio__subdetail">
                      <img src="{% static 'img/campaigns/create/campaign_content_type_3.png' %}" alt="">
                      <div class="campaign__create__content__type__box__radio__table">
                        <div class="campaign__create__content__type__box__radio__table__header">
                          <p>ประมาณผลลัพธ์</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Shouter</span>
                          <p>10 - 20 คน</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Reach</span>
                          <p>30,000 Reach</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Cost Per Reach</span>
                          <p>1.1 บาท</p>
                        </div>
                      </div>
                    </div>
                  </label>
                  <hr>
                </div>
                <div class="campaign__create__content__type__box__number">
                  <p class="text">จำนวน</p>
                  <div class="campaign__create__content__type__box__number__custom">
                    <p>1 โพสต์</p>
                  </div>
                </div>
              </div>
              <!-- Multi Post-->
              <div class="campaign__create__content__type__box" id="multi_box">
                <div class="campaign__create__content__type__box__radio">
                  <input type="radio" id="multi" name="post">
                  <label for="multi" onclick="post_selected('multi')">
                    <header>
                      <span>Multi Post</span>
                      <button class="w180" id="post_multi_button" type="button">เลือก</button>
                      <button class="w180" id="post_multi_button_selected" type="button">
                        <p>เลือกแล้ว</p>
                        <svg class="campaign__create__content__scope__work_type__icon">
                          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                        </svg>
                      </button>
                    </header>
                    <div class="campaign__create__content__type__box__radio__detail">
                      <p>
                        Shouters (ผู้บอกต่อ) จะทำการ 
                        <span class="b violet">ถ่ายและโพสท์หลายรูปเป็นอัลบั้ม </span>
                        พร้อมเขียนแคปชั่นบอกต่อตาม Brief ของคุณ เหมาะกับแคมเปญที่ต้องการสื่อสารรายละเอียด สินค้า/บริการที่มากขึ้น 
                        <span class="b">เช่น การทำ Product Experience Sharing, User Review, Product - Action - Result เป็นต้น</span>
                      </p>
                    </div>
                    <div class="campaign__create__content__type__box__radio__subdetail">
                      <img src="{% static 'img/campaigns/create/campaign_content_type_4.png' %}" alt="">
                      <div class="campaign__create__content__type__box__radio__table">
                        <div class="campaign__create__content__type__box__radio__table__header">
                          <p>ประมาณผลลัพธ์</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Shouter</span>
                          <p>10 - 20 คน</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Reach</span>
                          <p>30,000 Reach</p>
                        </div>
                        <div class="campaign__create__content__type__box__radio__table__box">
                          <span>Cost Per Reach</span>
                          <p>1.1 บาท</p>
                        </div>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="campaign__create__content__type__modal" id="modal">
        <div class="campaign__create__content__type__modal__backdrop" onclick="close_modal()"></div>
        <div class="campaign__create__content__type__modal__card">
          <header>
            <h5>ยืนยัน Budget & Scope of Work</h5>
            <span onclick="close_modal()">X</span>
          </header>
          <div class="campaign__create__content__type__modal__content">
            <h5>Shout Launching Campaign</h5>
            <div class="campaign__create__content__type__modal__content__detail">
              <div class="campaign__create__content__type__modal__content__left">
                <p class="header">Scope of work</p>
                <div class="campaign__create__content__type__modal__content__left__items">
                  <div class="campaign__create__content__type__modal__content__left__item border_bottom">
                    <span>Social Media</span>
                    <div class="campaign__create__content__type__modal__content__left__item__photo">
                      <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="">
                    </div>
                  </div>
                  <div class="campaign__create__content__type__modal__content__left__item border_bottom">
                    <span>Work Format</span>
                    <p>Post + Story</p>
                  </div>
                  <div class="campaign__create__content__type__modal__content__left__item">
                    <div class="campaign__create__content__type__modal__content__left__content__type">
                      <span>Content Type</span>
                      <div class="campaign__create__content__type__modal__content__left__content__type__item">
                        <span>Story</span>
                        <p>Finished Content x1</p>
                      </div>
                      <div class="campaign__create__content__type__modal__content__left__content__type__item">
                        <span>Post</span>
                        <p>Single Post x1</p>
                      </div>
                    </div>
                  </div>
                  <div class="campaign__create__content__type__modal__content__left__consent">
                    <p class="header">Conditions :</p>
                    <ul>
                      <li>Shouters (ผู้บอกต่อ) ห้ามลบโพสต์เป็นเวลา <span>14 วัน</span> หลังโพสท์</li>
                      <li>แบรนด์ผู้ว่าจ้าง <span>ไม่สามารถนำรูปไปใช้ต่อได้</span> สำหรับการโฆษณา</li>
                      <li>การ <span>Boost Post ไม่รวม</span> อยู่ในการจ้างงาน (ติดต่อทีมงานเพื่อดำเนินการแยกรายคน)</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="campaign__create__content__type__modal__content__right">
                <p class="header">Budget & Result</p>
                <p class="sub_header">สามารถเพิ่มลด Budget เพื่อเปลี่ยงแปลงผลลัพธ์ที่ต้องการได้</p>
                <div class="budget">
                  <p>Budget</p>
                  <div class="box">
                    <h4>50,000 บาท</h4>
                  </div>
                </div>
                <div class="campaign__create__content__type__modal__content__right__items">
                  <div class="campaign__create__content__type__modal__content__right__item border_bottom">
                    <span>ได้ Shouter</span>
                    <p>10-20 คน</p>
                  </div>
                  <div class="campaign__create__content__type__modal__content__right__item border_bottom">
                    <span>Reach</span>
                    <p>10,000-20,000 Reach</p>
                  </div>
                  <div class="campaign__create__content__type__modal__content__right__item border_bottom">
                    <span>Cost Per Reach</span>
                    <p>3 บาท</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="campaign__create__content__type__modal__button">
            <button class="w448 btn__orange">ยีนยัน</button>
          </div>
        </div>
      </section>
    </form>
  {% endblock %}
</body>
</html>