{% extends "campaigns/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block script %}
    <!-- API script -->
    <script src="{% static 'api/campaigns/create/name.js' %}"></script>
  {% endblock %}
  {% block title %} Create Campaign {% endblock %}

</head>
<body>
  {% block content %}
    <!-- Breadcrumb -->
    <section class="campaign__create__breadcrumb">
      <!--1-->
      <div class="campaign__create__breadcrumb__active">
        <div class="campaign__create__breadcrumb__number">
          <p>1</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Campaign Name</p>
        </div>
      </div>
      <!--2-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>2</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Scope & Budget</p>
        </div>
      </div>
      <!--3-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>3</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Content Type</p>
        </div>
      </div>
      <!--4-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>4</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Product Detail</p>
        </div>
      </div>
      <!--5-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>5</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Target Customer</p>
        </div>
      </div>
      <!--6-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>6</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Shouter Selection</p>
        </div>
      </div>
      <!--7-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>7</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Operation & Timeline</p>
        </div>
      </div>
      <!--8-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>8</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Brief</p>
        </div>
      </div>
    </section>
    <!-- Content -->
    <section class="campaign__create__content">
      <form id="form">
        <div class="campaign__card campaign__card__with_min_height">
          <div class="campaign__create__name">
            <!-- Header -->
            <h6>Campaign Name</h6>
            <!-- Input -->
            <div class="campaign__create__name__input">
              <label for="campaign_name">ตั้งชื่อแคมเปญของคุณ</label>
              <input type="text" name="campaign_name" id="campaign_name" placeholder="Enter your campaign name" required>
            </div>
            <!-- Button -->
            <div class="campaign__create__name__button">
              <button class="w180 btn__orange">ขั้นตอนถัดไป &#8594;</button>
            </div>
          </div>
        </div>
      </form>
    </section>

    <script>
      const form = document.getElementById("form")
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        post_data("{{ csrf_token }}");
      });
    </script>

  {% endblock %}
</body>

</html>