{% extends "campaigns/_base/_base.html" %}
{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block script %}
  <!-- J query -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- Main Script -->
  <script src="{% static 'js/campaigns/create/product.js' %}"></script>
  {% endblock %}
  {% block title %} Create Campaign {% endblock %}
</head>
<body>
  {% block content %}
    <!-- Breadcrumb -->
    <section class="campaign__create__breadcrumb">
      <!--1-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Campaign Name</p>
        </div>
      </div>
      <!--2-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Scope & Budget</p>
        </div>
      </div>
      <!--3-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Content Type</p>
        </div>
      </div>
      <!--4-->
      <div class="campaign__create__breadcrumb__active">
        <div class="campaign__create__breadcrumb__number">
          <p>4</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Product Detail</p>
        </div>
      </div>
      <!--5-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>5</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Target Customer</p>
        </div>
      </div>
      <!--6-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>6</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Shouter Selection</p>
        </div>
      </div>
      <!--7-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>7</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Timeline</p>
        </div>
      </div>
      <!--8-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>8</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Brief</p>
        </div>
      </div>
    </section>

    <!-- Form -->
    <form action="{% url 'create_product' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
      <!-- Right Bar -->  
      <section class="campaign__create__rightbar">
        <div class="campaign__create__rightbar__detail">
          <div class="campaign__create__rightbar__detail__box">
            <header>Campaign Name</header>
            <!-- Budget -->
            <div class="campaign__create__rightbar__detail__data budget">
              <span class="bold">Budget</span>
              <h4>{{ campaign.campaign_budget | intcomma}}</h4>
            </div>
            <!-- Social Media -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Social Media</span>
              <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="">
            </div>
            <!-- Shouter Count -->
            <div class="campaign__create__rightbar__detail__data">
              <span>ได้ Shouter</span>
              <p>{{ campaign.cal_number_shouter_min | intcomma }} - {{ campaign.cal_number_shouter_max | intcomma }} คน</p>
            </div>
            <!-- Estimated Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Estimate Reach</span>
              <p>{{ campaign.cal_estimate_reach_min | intcomma }} - {{ campaign.cal_estimate_reach_max | intcomma }} reach</p>
            </div>
            <!-- Cost Per Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Cost Per Reach</span>
              <p>{{ campaign.cal_cpr_min | intcomma }} - {{ campaign.cal_cpr_max | intcomma }} บาท</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>Work Format</header>
            <!-- รูปแบบโพส -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบโพส</span>
              <p>-</p>
            </div>
            <!-- รูปแบบการบอกต่อ -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบการบอกต่อ</span>
              <p>-</p>
            </div>
            <!-- จำนวน -->
            <div class="campaign__create__rightbar__detail__data">
              <span>จำนวน</span>
              <p>-</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>
              <img src="{% static 'img/campaigns/icon_kpi_commitment.png' %}" alt="">
              <span>KPI Commitment</span>
            </header>
            <!-- Commit At -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Commit At</span>
              <p>-</p>
            </div>
          </div>
        </div>
        <div class="campaign__create__rightbar__button">
          <button class="w100pc btn__orange btn__grey" id="submit_button" disabled>ขั้นตอนถัดไป</button>
        </div>
      </section>

      <!-- Content -->
      <section class="campaign__create__content">
        <div>
          <!-- Product or Service Detail -->
          <div class="campaign__card width_create_campaign campaign__create__content__product" style="height: 87vh;">
            <h6 class="campaign__create__content__header">Product or Service Detail</h6>
            <!-- Product Name -->
            <div class="campaign__create__content__product__name">
              <label for="product_name" class="margin">ชื่อสินค้าและบริการของคุณ <span>*</span></label>
              <input type="text" class="h48" id="product_name" name="product_name" placeholder="ชื่อสินค้าหรือบริการ">
            </div>
            <!-- Product Picture-->
            <div class="campaign__create__content__product__picture">
              <p>รูปตัวอย่างสินค้าหรือบริการ (ไม่เกิน 3 รูป) <span>*</span></p>
              <div class="campaign__create__content__product__picture__input">
                <!-- Product Photo 1 -->
                <label for="product_photo_1">
                  <div class="campaign__create__content__product__picture__input__upload" id="upload_box_1">
                    <img src="{% static 'img/campaigns/create/icon_upload.png' %}" alt="">
                    <p>Upload Image or Video</p>
                  </div>
                  <div class="campaign__create__content__product__picture__input__preview" id="preview_box_1">
                    <img id="preview_photo_1" alt="">
                  </div>
                </label>
                <input type="file" id="product_photo_1" name="product_photo_1" accept="image/*" onchange="showPreview_1(event);">
                <!-- Product Photo 2 -->
                <label for="product_photo_2">
                  <div class="campaign__create__content__product__picture__input__upload" id="upload_box_2">
                    <img src="{% static 'img/campaigns/create/icon_upload.png' %}" alt="">
                    <p>Upload Image or Video</p>
                  </div>
                  <div class="campaign__create__content__product__picture__input__preview" id="preview_box_2">
                    <img id="preview_photo_2" alt="">
                  </div>
                </label>
                <input type="file" id="product_photo_2" name="product_photo_2" accept="image/*" onchange="showPreview_2(event);">
                <!-- Product Photo 3 -->
                <label for="product_photo_3">
                  <div class="campaign__create__content__product__picture__input__upload" id="upload_box_3">
                    <img src="{% static 'img/campaigns/create/icon_upload.png' %}" alt="">
                    <p>Upload Image or Video</p>
                  </div>
                  <div class="campaign__create__content__product__picture__input__preview" id="preview_box_3">
                    <img id="preview_photo_3" alt="">
                  </div>
                </label>
                <input type="file" id="product_photo_3" name="product_photo_3" accept="image/*" onchange="showPreview_3(event);">
              </div>
            </div>
            <!-- Product Detail-->
            <div class="campaign__create__content__product__detail">
              <label for="product_detail" class="margin">ข้อมูลเกี่ยวกับสินค้าหรือบริการของคุณ <span>*</span></label>
              <textarea name="product_detail" id="product_detail" cols="30" rows="10" placeholder="ข้อมูลเกี่ยวกับสินค้าบริการ"></textarea>
            </div>
            <!-- Product Link -->
            <div class="campaign__create__content__product__link">
              <label for="product_link" class="margin">Link for more detail <span>*</span></label>
              <input type="text" class="h48" id="product_link" name="product_link" placeholder="www.shoutsolution.com">
            </div>
          </div>
        </div>
      </section>
    </form>
  {% endblock %}
</body>
</html>