{% extends "campaigns/_base/_base.html" %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block script %}
    <!-- J query -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- Notify js -->
    <script src="{% static 'js/notify.js' %}"></script>
    <!-- Page Script -->
    <script src="{% static 'js/campaigns/create/scope_budget.js' %}"></script>
    <!-- API Script -->
    <script src="{% static 'api/campaigns/create/scope_budget.js' %}"></script>
  {% endblock %}
  {% block title %} Create Campaign {% endblock %}
</head>
<body>
  {% block content %}
    <!-- Breadcrumb -->
    <section class="campaign__create__breadcrumb">
      <!--1-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Campaign Name</p>
        </div>
      </div>
      <!--2-->
      <div class="campaign__create__breadcrumb__active">
        <div class="campaign__create__breadcrumb__number">
          <p>2</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Scope & Budget</p>
        </div>
      </div>
      <!--3-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>3</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Content Type</p>
        </div>
      </div>
      <!--4-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>4</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Product Detail</p>
        </div>
      </div>
      <!--5-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>5</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Target Customer</p>
        </div>
      </div>
      <!--6-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>6</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Shouter Selection</p>
        </div>
      </div>
      <!--7-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>7</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Operation & Timeline</p>
        </div>
      </div>
      <!--8-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>8</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Brief</p>
        </div>
      </div>
    </section>

    <!-- Form -->
    <form id="form">
      <!-- Right Bar -->  
      <section class="campaign__create__rightbar">
        <div class="campaign__create__rightbar__detail">
          <div class="campaign__create__rightbar__detail__box">
            <header>Campaign Name</header>
            <!-- Budget -->
            <div class="campaign__create__rightbar__detail__data budget">
              <span class="bold">Budget</span>
              <h4 id="res_budget">-</h4>
            </div>
            <!-- Social Media -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Social Media</span>
              <div class="campaign__create__rightbar__detail__data__icon">
                <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="" class="instagram" id="icon_instagram">
                <img src="{% static 'img/campaigns/icon_facebook.png' %}" alt="" class="facebook" id="icon_facebook">
              </div>  
            </div>
            <!-- Shouter Count -->
            <div class="campaign__create__rightbar__detail__data">
              <span>ได้ Shouter</span>
              <p id="number_shouter">-</p>
            </div>
            <!-- Estimated Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Estimate Reach</span>
              <p id="number_reach">-</p>
            </div>
            <!-- Cost Per Reach -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Cost Per Reach</span>
              <p id="number_cpr">-</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>Work Format</header>
            <!-- รูปแบบโพส -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบโพส</span>
              <p>-</p>
            </div>
            <!-- รูปแบบการบอกต่อ -->
            <div class="campaign__create__rightbar__detail__data">
              <span>รูปแบบการบอกต่อ</span>
              <p>-</p>
            </div>
            <!-- จำนวน -->
            <div class="campaign__create__rightbar__detail__data">
              <span>จำนวน</span>
              <p>-</p>
            </div>
          </div>
          <div class="campaign__create__rightbar__detail__box">
            <header>
              <img src="{% static 'img/campaigns/icon_kpi_commitment.png' %}" alt="">
              <span>KPI Commitment</span>
            </header>
            <!-- Commit At -->
            <div class="campaign__create__rightbar__detail__data">
              <span>Commit At</span>
              <p>-</p>
            </div>
          </div>
        </div>
        <div class="campaign__create__rightbar__button">
          <button class="w100pc btn__grey btn__orange" disabled id="submit_button">ขั้นตอนถัดไป</button>
        </div>
      </section>

      <!-- Content -->
      <section class="campaign__create__content">
        <div class="campaign__create__content__scope">

          <!-- Social Media-->
          <div class="campaign__card width_create_campaign">
            <h6 class="campaign__create__content__header">Social Media</h6>
            <div class="campaign__create__content__scope__social">
              <div class="campaign__create__content__scope__social__active">
                <!-- Instagram -->
                <div class="campaign__create__content__scope__social__box">
                  <input type="checkbox" id="is_check_instagram" name="is_check_instagram">
                  <label for="is_check_instagram">
                    <div class="label">
                      <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="">
                      <p>Instagram</p>
                    </div>
                    <div class="input">
                      <svg>
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                      </svg>
                    </div>
                  </label>
                </div>
                <!-- Facebook -->
                <div class="campaign__create__content__scope__social__box">
                  <input disabled type="checkbox" id="is_check_facebook" name="is_check_facebook">
                  <label for="is_check_facebook">
                    <div class="label">
                      <img src="{% static 'img/campaigns/icon_facebook.png' %}" alt="">
                      <div class="campaign__create__content__scope__social__box__flex">
                        <p>เพิ่มแชร์ลง Facebook (Optional)</p>
                        <span>เลือกคู่กับ Instagram เท่านั้น (เป็นการแชร์จาก Instagram ลง Facebook)</span>
                      </div>
                    </div>
                    <div class="input disabled" id="facebook_checkbox">
                      <svg>
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                      </svg>
                    </div>
                    <div class="input_disabled" id="facebook_checkbox_disabled"></div>
                  </label>  
                </div>
              </div>
              <hr>
              <div class="campaign__create__content__scope__social__deactive">
                <!-- Tiktok -->
                <div class="campaign__create__content__scope__social__box">
                  <input type="checkbox" id="tiktok" disabled>
                  <label for="tiktok">
                    <div class="label">
                      <img src="{% static 'img/campaigns/icon_tiktok.png' %}" alt="">
                      <p>Tiktok</p>
                    </div>
                    <div class="input_disabled"></div>
                  </label>
                </div>
                <!-- Twitter -->
                <div class="campaign__create__content__scope__social__box">
                  <input type="checkbox" id="twitter" disabled>
                  <label for="twitter">
                    <div class="label">
                      <img src="{% static 'img/campaigns/icon_twitter.png' %}" alt="">
                      <p>Twitter</p>
                    </div>
                    <div class="input_disabled"></div>
                  </label>
                </div>
                <!-- Extra -->
                <p>หากต้องการงาน TikTok, Twitter, หรือ IG Reel โปรดติดต่อทีมงาน <span>contact@shoutsolution.com</span> หรือ <span>087-560-4935</span></p>
              </div>
            </div>
          </div>

          <!-- Budget -->
          <div class="campaign__card width_create_campaign">
            <h6 class="campaign__create__content__header">Budget</h6>
            <div class="campaign__create__content__flex">
              <div class="campaign__create__content__flex50">
                <div class="campaign__create__content__flexcolumn campaign__create__content__scope__input">
                  <label class="margin " for="budget">Campaign Budget <span>*</span></label>
                  <input class="h48" type="text" name="budget" id="budget" placeholder="ขั้นต่ำ 50,000 บาท">
                  <span class="unit">บาท</span>
                </div>
              </div>
              <div class="campaign__create__content__flex50">
                <div class="campaign__create__content__scope__no_fee">
                  <img src="{% static 'img/campaigns/icon_money.png' %}" alt="">
                  <span>ไม่มีค่าธรรมเนียมเอเจนซี่ / การจัดการ Your Budget = Net Price</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Work Type -->
          <div class="campaign__card width_create_campaign">
            <h6 class="campaign__create__content__header">Work Type</h6>
            <p class="campaign__create__content__scope__label">เลือกประเภทการโพสต์ที่ต้องการ <span>*</span></p>

            <div class="campaign__create__content__scope__work_type">
              <input type="radio" name="work_type" id="story" value="story">
              <label for="story" onclick="change_button_context('story')">
                <div class="campaign__create__content__scope__work_type__box">
                  <header>
                    <h6>Story Only</h6>
                    <button class="w180" id="story_button" type="button">เลือก</button>
                    <button class="w180" id="story_button_selected" type="button">
                      <p>เลือกแล้ว</p>
                      <svg class="campaign__create__content__scope__work_type__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                      </svg>
                    </button>
                  </header>
                  <div class="campaign__create__content__scope__work_type__box__detail">
                    <img src="{% static 'img/campaigns/create/campaign_work_type_1.png' %}" alt="">
                    <div class="campaign__create__content__scope__work_type__box__detail__text">
                      <div class="campaign__create__content__scope__work_type__box__detail__text__left">
                        <p>เหมาะสำหรับแคมเปญที่</p>
                        <ul>
                          <li>ต้องการความรวดเร็ว เข้าถึงง่าย มีข้อมูลที่กระชับ</li>
                          <li>Low-Involvement Product/Service</li>
                          <li>ต้องการสร้างความแตกต่างในการทำ Marketing & Promotion</li>
                          <li>ต้องการสร้าง Engagement & Conversion ผ่าน KOC จำนวนมาก</li>
                          <li>การเข้าถึงคนรุ่นใหม่</li>
                        </ul>
                      </div>
                      <div class="campaign__create__content__scope__work_type__box__detail__text__right">
                        <p>ประมาณผลลัพธ์</p>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Shouter</span>
                          <p id="shouter_story">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Reach</span>
                          <p id="reach_story">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Cost Per Reach</span>
                          <p id="cpr_story">-</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            </div>
            
            <div class="campaign__create__content__scope__work_type">
              <input type="radio" name="work_type" id="post" value="post">
              <label for="post" onclick="change_button_context('post')">
                <div class="campaign__create__content__scope__work_type__box">
                  <header>
                    <h6>Post Only</h6>
                    <button class="w180" id="post_button" type="button">เลือก</button>
                    <button class="w180" id="post_button_selected" type="button">
                      <p>เลือกแล้ว</p>
                      <svg class="campaign__create__content__scope__work_type__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                      </svg>
                    </button>
                  </header>
                  <div class="campaign__create__content__scope__work_type__box__detail">
                    <img src="{% static 'img/campaigns/create/campaign_work_type_2.png' %}" alt="">
                    <div class="campaign__create__content__scope__work_type__box__detail__text">
                      <div class="campaign__create__content__scope__work_type__box__detail__text__left">
                        <p>เหมาะสำหรับแคมเปญที่</p>
                        <ul>
                          <li>ต้องการสื่อสารข้อมูลที่ละเอียด</li>
                          <li>High-Involvement Product/Service</li>
                          <li>ต้องการ High Quality Content และอยู่ในระบบนานขึ้น (14 วันขึ้นไป)</li>
                          <li>ต้องการสร้างยอด Awareness สูง เน้นการเข้าถึงจำนวนมาก</li>
                          <li>การสร้าง Branding ผ่าน KOC</li>
                        </ul>
                      </div>
                      <div class="campaign__create__content__scope__work_type__box__detail__text__right">
                        <p>ประมาณผลลัพธ์</p>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Shouter</span>
                          <p id="shouter_post">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Reach</span>
                          <p id="reach_post">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Cost Per Reach</span>
                          <p id="cpr_post">-</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            </div>
            
            <div class="campaign__create__content__scope__work_type">
              <input type="radio" name="work_type" id="post_story" value="post_story">
              <label for="post_story" onclick="change_button_context('post_story')">
                <div class="campaign__create__content__scope__work_type__box">
                  <header>
                    <h6>Post + Story</h6>
                    <button class="w180" id="post_story_button" type="button">เลือก</button>
                    <button class="w180" id="post_story_button_selected" type="button">
                      <p>เลือกแล้ว</p>
                      <svg class="campaign__create__content__scope__work_type__icon">
                        <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                      </svg>
                    </button>
                  </header>
                  <div class="campaign__create__content__scope__work_type__box__detail">
                    <img src="{% static 'img/campaigns/create/campaign_work_type_3.png' %}" alt="">
                    <div class="campaign__create__content__scope__work_type__box__detail__text">
                      <div class="campaign__create__content__scope__work_type__box__detail__text__left">
                        <p>เหมาะสำหรับแคมเปญที่</p>
                        <ul>
                          <li>ต้องการสื่อสารข้อมูลหลากหลาย รูปแบบ สั้น ยาว (Promotion & Experience Sharing)</li>
                          <li>Low & High-Involvement Product/Service</li>
                          <li>ต้องการทำทั้ง Branding และ Promote เต็มรูปแบบ</li>
                          <li>ต้องการสร้าง Awareness, Engagement, Conversion ไปพร้อมๆกัน</li>
                          <li>การสร้างการเห็นซ้ำ (Repeat) ผ่านหลากหลาย Content</li>
                        </ul>
                      </div>
                      <div class="campaign__create__content__scope__work_type__box__detail__text__right">
                        <p>ประมาณผลลัพธ์</p>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Shouter</span>
                          <p id="shouter_post_story">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Reach</span>
                          <p id="reach_post_story">-</p>
                        </div>
                        <div class="campaign__create__content__scope__work_type__box__detail__text__right__data">
                          <span>Cost Per Reach</span>
                          <p id="cpr_post_story">-</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </section>
    </form>

    <script>
      const form = document.getElementById("form")
      form.addEventListener("submit", function (event) {
        event.preventDefault();
        post_data("{{ csrf_token }}");
      });
    </script>

  {% endblock %}
</body>
</html>