{% extends "campaigns/_base/_base.html" %}
{% load static %}
{% load humanize %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block script %}
  <!-- J query -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <!-- Main Script -->
  <script src="{% static 'js/campaigns/create/shouter_selection.js' %}"></script>
  {% endblock %}
  {% block title %} Shouter Selection {% endblock %}
</head>
<body>
  {% block content %}
    <section class="campaign__create__breadcrumb">
      <!--1-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Campaign Name</p>
        </div>
      </div>
      <!--2-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Scope & Budget</p>
        </div>
      </div>
      <!--3-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Content Type</p>
        </div>
      </div>
      <!--4-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Product Detail</p>
        </div>
      </div>
      <!--5-->
      <div class="campaign__create__breadcrumb__finished">
        <svg class="campaign__create__breadcrumb__icon">
          <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
        </svg>
        <div class="campaign__create__breadcrumb__text">
          <p>Target Customer</p>
        </div>
      </div>
      <!--6-->
      <div class="campaign__create__breadcrumb__active">
        <div class="campaign__create__breadcrumb__number">
          <p>6</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Shouter Selection</p>
        </div>
      </div>
      <!--7-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>7</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Timeline</p>
        </div>
      </div>
      <!--8-->
      <div class="campaign__create__breadcrumb__inactive">
        <div class="campaign__create__breadcrumb__number">
          <p>8</p>
        </div>
        <div class="campaign__create__breadcrumb__text">
          <p>Brief</p>
        </div>
      </div>
    </section>

    <form action="{% url 'create_shouter_selection' campaign.id %}" method="POST"> {% csrf_token %}
      <!-- Content -->
      <section class="campaign__create__content no_left_right_padding">
        <div class="campaign__create__content__shouter">

          <!-- Header -->
          <div class="campaign__card shouter_selection">
            <h6 class="margin_bottom">Shouter Selection</h6>
            <p class="detail">
              Shout! คัดเลือกและจัดเรียง Shouters (ผู้บอกต่อ) ที่มีข้อมูลผู้ติดตามตรงกับกลุ่มลูกค้าของคุณ และ Media Performance ที่ดีที่สุดให้จาก
              <span class="violet">Shouter Matching Score</span> คุณสามารถ
              <span class="violet">คลิกเพื่อ เลือก / ไม่เลือก Shouters ตาม Shout Credit ที่คุณมีได้เลย</span>
            </p>
          </div>

          <!-- Result -->
          <div class="campaign__card shouter_selection" id="result">
            <p class="margin_bottom detail bold">Estimated Campaign Result <span class="grey no_bold">(ประมาณการผลลัพธ์แคมเปญ จากการเลือก Shouters)</span></p>
            <div class="campaign__create__content__shouter__result">
              <div class="left">
                <div class="left column">
                  <!-- Shouter -->
                  <div class="item">
                    <div class="caption">
                      <img src="{% static 'img/campaigns/shouter_selection/icon_shouter.png' %}" alt="">
                      <p class="detail"><span class="grey">Shouter</span></p>
                    </div>
                    <p class="detail" id="shouter_count">- คน</p>
                  </div>
                  <!-- Reach -->
                  <div class="item">
                    <div class="caption">
                      <img src="{% static 'img/campaigns/shouter_selection/icon_reach.png' %}" alt="">
                      <p class="detail"><span class="grey">Total Reach</span></p>
                    </div>
                    <p class="detail" id="total_reach">- Reach</p>
                  </div>
                  <!-- Cost Per Reach -->
                  <div class="item">
                    <div class="caption">
                      <p class="detail"><span class="grey">Cost Per Reach</span></p>
                    </div>
                    <p class="detail" id="total_cpr">- บาท</p>
                  </div>
                </div>
                <div class="right column">
                  <!-- Follower -->
                  <div class="item">
                    <div class="caption">
                      <img src="{% static 'img/campaigns/shouter_selection/icon_follower.png' %}" alt="">
                      <p class="detail"><span class="grey">Total Follower</span></p>
                    </div>
                    <p class="detail" id="total_follower">- Followers</p>
                  </div>
                  <!-- Engagement -->
                  <div class="item">
                    <div class="caption">
                      <img src="{% static 'img/campaigns/shouter_selection/icon_engagement.png' %}" alt="">
                      <p class="detail"><span class="grey">Total Engagement (Rate)</span></p>
                    </div>
                    <p class="detail" id="total_engagement">-</p>
                  </div>
                  <!-- Cost Per Engagement -->
                  <div class="item">
                    <div class="caption">
                      <p class="detail"><span class="grey">Cost Per Engagement</span></p>
                    </div>
                    <p class="detail">- บาท</p>
                  </div>
                </div>
              </div>
              <div class="right">
                <!-- Indicator -->
                <div class="left">
                  <div class="card">
                    <div class="header detail">
                      <span class="grey">Campaign Focused Result</span>
                      <img src="{% static 'img/campaigns/shouter_selection/icon_info.png' %}" alt="">
                    </div>
                    <p>Indicator</p>
                    <img src="{% static 'img/campaigns/shouter_selection/sample_indicator.png' %}" alt="">
                  </div>
                </div>
                <!-- Shout Credit -->
                <div class="right">
                  <div class="card center">
                    <div class="header detail">
                      <div class="box">
                        <img src="{% static 'img/campaigns/shouter_selection/icon_shoutcoin.png' %}" alt="">
                        <span class="grey">Shout Credit</span>
                      </div>
                      <img src="{% static 'img/campaigns/shouter_selection/icon_info.png' %}" alt="">
                    </div>
                    <h5 class="shouter_number"><span class="bold" id="total_price">-</span> / <span>{{ brand_selected_price|intcomma }}</span></h5>
                    <img src="{% static 'img/campaigns/shouter_selection/sample_shouter_graph.png' %}" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Shouter -->
          <section class="campaign__create__content__shouter__section">
            <div class="campaign__card shouter_selection_content">
              <!-- Shouter Lists -->
              <div class="lists">
                {% for order in orders %}
                  <!-- Shouter Card -->
                  <div class="shouter__card">
                    <input type="checkbox" id="{{ order.shouter.id }}" name="{{ order.shouter.id }}"
                           onclick="set_result_bar({{ order.shouter.id }}, {{ order.ig_ad_post_reach }}, {{ order.cpr }}, {{ order.ig_follower_count}}, {{ order.ig_engagement_percent }}, {{ order.brand_price}})">
                    <label for="{{ order.shouter.id }}">
                      <div class="box">
                        <div class="justify_space">
                          {% if selection.score >= 80 %}
                            <div class="recommended">
                              <img src="{% static 'img/campaigns/shouter_selection/icon_star.png' %}" alt="">
                              <span>Recommended</span>
                            </div>
                          {% else %}
                            <div></div>
                          {% endif %}
                          <span class="tick_box_uncheck"></span>
                          <span class="tick_box_check">
                            <svg class="icon_check">
                              <use xlink:href="{% static 'img/shouters/sprite.svg' %}#icon-checkmark"></use>
                            </svg>
                          </span>
                        </div>
                        <div class="justify_space">
                          <div class="price">
                            <img src="{% static 'img/campaigns/shouter_selection/icon_shout_shouter_card.png' %}" alt="">
                            <span>{{ order.brand_price|intcomma }}</span>
                          </div>
                          <div class="social">
                            <img src="{% static 'img/campaigns/icon_instagram.png' %}" alt="">
                            <img src="{% static 'img/campaigns/icon_facebook.png' %}" alt="">
                          </div>
                        </div>
                        <div class="info">
                          <img class="shouter_img" src="{% static 'img/campaigns/shouter_selection/sample_shouter.png' %}" alt="">
                          <p class="name">{{ order.shouter.first_name }} {{ order.shouter.last_name }}</p>
                          <p>{{ order.shouter.gender }}</p>
                          <p>{{ order.shouter.college }}</p>
                          <div class="performance_lists">
                            <!-- Follower -->
                            <div class="performance">
                              <span class="grey">Follower</span>
                              <p>{{ order.ig_follower_count|intcomma }}</p>
                            </div>
                            <!-- Engagement -->
                            <div class="performance">
                              <span class="grey">Engagement %</span>
                              <p>{{ order.ig_engagement_percent }}%</p>
                            </div>
                            <!-- Reach -->
                            <div class="performance">
                              <span class="grey">Reach</span>
                              <p>{{ order.ig_ad_post_reach|intcomma }}</p>
                            </div>
                            <!-- CPR -->
                            <div class="performance">
                              <span class="grey">CPR</span>
                              <p>{{ order.cpr }} บาท</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </label>
                    <span class="insight" onclick="show_modal({{ order.id }})">View full insights</span>

                    <div class="shouter__modal" id="{{ order.id }}">
                      <div class="backdrop" onclick="close_modal({{ order.id }})"></div>
                      <div class="modal_card">
                        <div class="left">
                          <div class="bio">
                            <img src="{% static 'img/campaigns/shouter_selection/sample_shouter.png' %}" alt="">
                            <div class="text">
                              <p class="username">{{ order.shouter.ig_username }}</p>
                              <p class="social">Instagram Business Account</p>
                              <p class="tooltips">Insight และ Top Target Audience มาจาก Business Account API</p>
                            </div>
                          </div>
                          <div class="box">
                            <div class="text">
                              <p class="number">{{ order.ig_media_count|intcomma }}</p>
                              <p class="info">Posts</p>
                            </div>
                            <div class="text">
                              <p class="number">{{ order.ig_follower_count|intcomma }}</p>
                              <p class="info">Followers</p>
                            </div>
                            <div class="text">
                              <p class="number">{{ order.ig_following_count|intcomma }}</p>
                              <p class="info">Followings</p>
                            </div>
                          </div>
                          <div class="images">
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_1 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_2 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_3 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_4 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_5 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_6 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_7 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_8 }}" alt="">
                            </div>
                            <div class="image">
                              <img src="{{ order.shouter.ig_media_picture_9 }}" alt="">
                            </div>
                          </div>
                          <div class="interests">
                            <p class="header">Shouter Interests</p>
                            <div class="interest">
                              {% for foo in order.shouter.interest %}
                                {% if foo == 'technology_gadget' %}
                                  <span>📱Technology & Gadget</span>
                                {% elif foo == 'social_csr' %}
                                  <span>⭐️ Social & CSR</span>
                                {% elif foo == 'entertainment' %}
                                  <span>🎸 Entertainment</span>
                                {% elif foo == 'finance_investment' %}
                                  <span>💰 Finance & Investment</span>
                                {% elif foo == 'lifestyle' %}
                                  <span>🚶🏻 Lifestyle</span>
                                {% elif foo == 'fashion' %}
                                  <span>👗 Fashion</span>
                                {% elif foo == 'automobile' %}
                                  <span>🚘 Automobile</span>
                                {% elif foo == 'food_drink' %}
                                  <span>🍔 Food & Drink</span>
                                {% elif foo == 'beauty' %}
                                  <span>💄 Beauty</span>
                                {% elif foo == 'travel' %}
                                  <span>✈️ Travel</span>
                                {% elif foo == 'health_sport' %}
                                  <span>🏀 Health & Sport</span>
                                {% elif foo == 'design_art' %}
                                  <span>🎨 Design & Art</span>
                                {% elif foo == 'luxury' %}
                                  <span>👜 Luxury</span>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="right">
                          <span class="close" onclick="close_modal({{ order.id }})">X</span>
                          <div class="insights">
                            <p class="header">Insights</p>
                            <div class="justify_space">
                              <p>Active Follower (Rate)</p>
                              <p>{{ order.ig_active_follower|intcomma }} ({{ selection.shouter.ig_active_follower_percent }}%)</p>
                            </div>
                            <div class="justify_space">
                              <p>Engagement (Rate)</p>
                              <p>{{ order.ig_average_total_like|intcomma }} ({{ order.ig_engagement_percent }}%)</p>
                            </div>
                            <div class="justify_space">
                              <p>Avg. Story View</p>
                              <p>{{ order.ig_story_view|intcomma }}</p>
                            </div>
                            <div class="justify_space">
                              <p>Avg. Post Reach</p>
                              <p>{{ order.ig_ad_post_reach|intcomma }} </p>
                            </div>
                          </div>
                          <div class="audiences">
                            <p class="header">Top Target Audience</p>
{#                            <div class="left">#}
                              <div class="justify_space">
                                <p>Women</p>
                                <p>{{ order.ig_audience_female_percent }}%</p>
                              </div>
                              <div class="justify_space">
                                <p>Men</p>
                                <p>{{ order.ig_audience_male_percent }}%</p>
                              </div>
{#                            </div>#}
{#                            <div class="right">#}
{##}
{#                            </div>#}
                            <p class="header">Top Target Location</p>
                            <div class="justify_space">
                              <p>{{ order.ig_audience_location_1 }}</p>
                              <p>{{ order.ig_audience_location_1_percent }}%</p>
                            </div>
                            <div class="justify_space">
                              <p>{{ order.ig_audience_location_2 }}</p>
                              <p>{{ order.ig_audience_location_2_percent }}%</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <button class="w448 btn__orange" type="button" id="next_button" style="text-align: center;display: block" onclick="show_confirm_modal()">ขั้นตอนถัดไป</button>
              <div class="shouter__modal" id="confirm_modal">
                <div class="backdrop" onclick="close_confirm_modal()"></div>
                <div class="modal_card confirm">
                  <div class="top">
                    <h5>ยืนยัน Shouter Selection (1)</h5>
                    <span class="close" onclick="close_confirm_modal()">X</span>
                  </div>
                  <div class="detail">
                    <p>คุณได้เลือก Shouter เป็นจำนวน <span id="shouter_count_2">-</span> คน</p>
                    <button class="btn__orange w100pc" type="submit" id="submit_button">ขั้นตอนถัดไป</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </form>
  {% endblock %}
</body>