{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta property="og:description" content="แพลตฟอร์มทำการตลาดบอกต่อผ่านคนตัวเล็กง่ายๆ"/>
  <meta property="og:image" content="{% static 'img/logo/thumbnail.png' %}" />
  <meta property="og:type" content='website'/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'img/logo/logo-07.png' %}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BQKHQG4402"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-BQKHQG4402');
  </script>
  {% block css %} {% endblock %}
  {% block title %} {% endblock %}
</head>
<body>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>
</html>