/*------------------------ Font ------------------------*/
@font-face {
    src: url("../../src/fonts/FC Minimal Regular.ttf");
    font-family: 'minimal';
}

@font-face {
    src: url("../../src/fonts/FC Minimal Bold.ttf");
    font-family: 'minimal_b';
}

/*------------------------------------------------------*/

/*------------------------ Register ------------------------*/
html {
    font-size: 20px;
}

body {
	background-color: #ffffff;
	font-family: 'minimal', sans-serif;
}

.area-main {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.area-left {
    float: left;
    width: 40%;
    height: 100%;
}

.area-left-img img {
    width: 40vw;
}

/*.area-left-content {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 3%;*/
/*    margin-bottom: 5vh;*/
/*}*/

.area-left-content h1 {
    font-family: 'minimal_b', sans-serif;
    font-size: 3.6rem;
    background: linear-gradient(180deg, #792D67 0%, #362156 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: 0.3s all;
}

.area-left-content p {
    font-size: 1.1rem;
    transition: 0.3s all;
}

.area-right {
    float: right;
    width: 60%;
    height: 100%;
    background: linear-gradient(180deg, #792D67 0%, #362156 100%);
}

.area-right-content {
    position: absolute;
    width: 50%;
    right: 0;
    top: calc(50% - 320px);
    margin-right: 5vw;
    color: white;
}

.area-right-login {
    padding: 0 6rem;
}

.area-right-content > h1 {
    font-family: minimal_b, sans-serif;
}

.card-content {
    width: 100%;
    background: white;
    color: black;
    padding: 1.5rem;
    border-radius: 15px;
}

#p-title {
  margin-bottom: 0.5rem;
}

.already-account {
  text-align: right;
  padding: 1rem;
}

.already-account a {
  color: white;
}
/*------------------------ Media ------------------------*/
@media (max-width: 1280px) {
    .area-left-content h1{
        font-size: 45px;
    }

    .area-left-content p{
        font-size: 14px;
    }
}
/*------------------------------------------------------*/